@charset "utf-8";
/* CSS Document */

    
	* {margin:0 auto; font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; padding:0; border:0; }



	/*웹*/

	#event {margin:0 auto; width:1150px; text-align: left;}
	#event ul li {list-style:none; float: left;}
	.title {font-size:24px; color:#222; width:150px; }
	.text {font-size:24px; color:#222; font-weight: 300; line-height:30px; padding-top: 3px; letter-spacing: -0.5px;}
	

	.event1 {font-size:26px; color:#00a0e9; font-weight: 300; border-bottom: solid 2px #00a0e9; padding: 60px 0 20px;}
	.event1 span {float:right; font-size:18px; color:#777; padding-top:5px; }
	.event2 {font-size:26px; color:#222; font-weight: 300; letter-spacing: -0.5px; padding: 12px 0 14px; }
	.event4,.event10,.event16 {font-size:26px; color:#222; padding:50px 0 13px; border-bottom: 1px solid #222;}
	.event5 {font-size:34px; color:#222; padding:45px 0 20px; line-height:40px; letter-spacing: -1px;}
	.event5 span {color:#0f6cda;}
	.event6 {padding-top:20px;}
	.event6 .text span {color:#dc3e29; font-weight: 400; }
	.event7 {clear: both; padding:47px 0 0 150px;}
	.event8 {clear: both; padding-top:40px;}
	.event9 {clear: both; padding-top:35px;}
	.bt {clear: both; text-align: center; padding:93px 0 30px;}
	.event11 {font-size:34px; color:#222; padding:45px 0 20px; line-height:40px; letter-spacing: -1px;}
	.event11 span {color:#06853f;}
	.event12 {clear: both; padding-top:18px;}
	.event13 {clear: both; padding-top:36px;}
	.event13 .text span {color:#dc3e29; font-weight: 400; }
	.event14 {clear: both; padding-top:38px;}
	.event15 {clear: both; padding-top:36px;}
	.event17 {font-size:18px; color:#555; padding-top:48px; line-height: 26px;}
	.event17 p {padding-bottom:17px;}
	.event17 span {padding-left:15px;}
	
	
	
	/*모바일*/
	
	#event_m {width:100%; margin:0 auto; padding:0; border: 0; text-align:left;}
	#event_m img { width:100%;}
	#event_m ul li {list-style:none; }
	.m_bt {text-align: center; padding:70px 0 60px;}
	.m_title {font-size:20px; color:#222;  }
	.m_text {font-size:20px; color:#222; font-weight: 300; line-height:24px;  letter-spacing: -1px;}
	.m_event1 {font-size:20px; color:#00a0e9; font-weight: 300; border-bottom: solid 2px #00a0e9; padding: 10px;}
	.m_event1 span {float:right; font-size:14px; color:#777; padding-top:5px; }
	.m_event2 {font-size:24px; color:#222; font-weight: 300; letter-spacing: -0.5px; padding: 10px; }
	.m_event4,.m_event10,.m_event16 {font-size:24px; color:#222; padding:50px 0 10px 10px; border-bottom: 1px solid #222;}
	.m_event10 .num {float:left; background-color:#06853f; width:32px; height: 32px;  color:#fff; font-size: 20px; font-weight: 400; border-radius:50px; vertical-align: middle; box-sizing: border-box; text-align: center; margin:3px 10px 0 0;}
	.m_event5,.m_event11 {font-size:24px; color:#222; padding:35px 10px 20px 10px; line-height:30px; letter-spacing: -1.5px;}
	.m_event5 span {color:#0f6cda;}
	.m_event6 {padding:20px 10px 0 10px;}
	.m_event6 .m_text span {color:#dc3e29; font-weight: 400; }
	.m_event7 {padding-top:50px;}
	.m_event8,.m_event9,.m_event12,.m_event13,.m_event14,.m_event15 {padding:40px 10px 0 10px;}
	.m_event11 span {color:#06853f;}
	.m_event13 .m_text span {color:#dc3e29; font-weight: 400; }
	.m_event17 {font-size:16px; color:#555; padding:35px 10px 0 10px; line-height: 22px;}
	.m_event17 p {padding-bottom:17px; letter-spacing: -1px;}
	.m_event17 .notice {position: relative; padding-left:10px;}
	.m_event17 .dot::before {width:4px; height: 4px; border-radius:4px; content:" "; position: absolute; left:0; top:8px;}
	.m_event17 .color::before {background-color:#333;}
	.m_event17 .bold {font-size:22px;}



#event {display:block;}
#event_m {display:none;}

@media all and (max-width: 900px){
	#event {display:none;}
	#event_m {display:block;}
}