@charset "utf-8";
/* CSS Document */



	* {margin:0 auto; font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; padding:0; border:0; box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
	ul li {list-style:none;}



	/*-----------------------  input/ select  ----------------------------*/



	input[type="radio"] {display: none;}


	input[type="radio"]:checked + span:before {
    border-color: #00a0ea;
	}


	input[type="radio"] + span {
    position: relative;
    display: inline-block;
    padding-left: 35px;
    line-height: 26px;
	color: #383838;
	}


	input[type="radio"] + span:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: all .3s;
    background-color: #fff;
	}


	input[type="radio"] + span:after {
    content: "";
    transition: all .2s;
    position: absolute;
    width: 2px;
    height: 2px;
    top: 12px;
    left: 12px;
	}


	input[type="radio"]:checked + span:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    left: 5px;
    background-image: url("../img/check.png");
	background-position: center center;
	background-repeat: no-repeat;
	}






	.apt_radio input[type="radio"] + span:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: all .3s;
    background-color: #fff;
	border-radius: 12px;
	}




	.apt_radio input[type="radio"]:checked + span:after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 5px;
    left: 5px;
	border-radius: 7px;
	background-image: none;
	background-color: #324fb9!important;
	background-position: center center;
	background-repeat: no-repeat;
	}







	input[type="checkbox"] {display: none;}


	input[type="checkbox"]:checked + span:before {
    border-color: #324fb9;

	}


	input[type="checkbox"] + span {
    position: relative;
    display: inline-block;
    padding-left: 35px;
    line-height: 26px;
	color: #383838;
	}


	input[type="checkbox"] + span:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: all .3s;
    background-color: #fff;
	}


	input[type="checkbox"] + span:after {
    content: "";
    transition: all .2s;
    position: absolute;
    width: 2px;
    height: 2px;
    top: 12px;
    left: 12px;
	}


	input[type="checkbox"]:checked + span:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    left: 5px;
    background-image: url("../img/check.png");
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 1;
	}




	select,.b_names,.areas {width:350px;}


	select::-ms-expand { display:none; }


	option:disabled {color:#aaa;}


	input[type=text],.dong_num,.ho_num,.floor_num {
	-moz-appearance:none;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    height: 40px;
    font-size: 16px;
    color: #222;
    width:230px;
    box-sizing: border-box;
    padding: 0 1em;
	border-radius: 3px;
	}

	input.loansum {width:530px;}
	input.detail_add {width:710px;}
	input.loansum2 {width:710px; border: 1px solid #98a7dc;}
	input.tel{width:350px; border: 1px solid #98a7dc;}
	input.name{width:350px; border: 1px solid #98a7dc;}
	input::-webkit-input-placeholder {color:#aaa; text-align: left}
	input::-moz-placeholder {color:#aaa; text-align: left}
	input:-ms-input-placeholder {color:#aaa; text-align: left}
	input:-moz-placeholder {color:#aaa; text-align: left}
	input::placeholder{color:#aaa; text-align: left}




/*----------------------- 모바일_신청페이지 -----------------------------*/



	select, .citys, .gus, .dongs {
	-moz-appearance:none;
	-webkit-appearance:none;
	border: 1px solid #ccc;
    height: 45px;
    font-size: 18px;
	font-weight: 500;
	width:100%;
    color: #555;
    box-sizing: border-box;
	background-color: #fff;
    padding: 0 1em;
	background-image: url("../img/arrow.jpg"); background-position: center right 1em; background-repeat: no-repeat;
	border-radius: 3px;

	}

	input[type=text] {
	-moz-appearance:none;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    height: 45px;
    font-size: 18px;
    color: #222;
    width:100%;
    box-sizing: border-box;
    padding: 0 1em;
	border-radius: 3px;
	}


	.b_names, .areas {
		width: 100%;
	}

	input.loansum2 {border: 1px solid #98a7dc;}
	input.tel{border: 1px solid #98a7dc;}
	input.name{border: 1px solid #98a7dc;}
	#loan ul li {list-style:none; float: left;}
	.hiddenbr {display:block;}
	.hiddentitle {display:none;}

     /*상단비주얼*/

	.loan1 h2 {font-size:26px; padding:50px 0 0;}
	.loan1 p {font-size:16px; padding-top: 10px; letter-spacing: -1px; word-spacing: -1px;}
	.top_call {display: inline-block; width:100%;}
	.top_call ul li:first-child {float:left; width:40%; padding: 2% 5%;}
	.top_call ul li:first-child img {width:80%; }
	.top_call ul li:last-child {float:right!important; width:60%; padding: 2% 5%;}
	.top_call ul li:last-child a {float:right!important; text-decoration:none; color:#222; font-size:16px;  border-radius: 60px; padding:5px 5px;}
 	.top_call ul li:last-child span {font-weight:600;}
	.visual_img img {width:100%;}



     /*폼*/
    .loan_form {width:100%;}
	.loan4 {clear: both;  width:100%;float:none; border:none; border-radius: 0;}
	.loan4 p {clear: both; display:block; text-align: center;padding:10px 5%; font-weight: 600; font-size:20px; color:#222;  }
	.loan4 .title {clear:both;padding:0 0 0 0;letter-spacing:-1px;}
	.loan4 .title2 {clear:both;padding:30px 0 0px 0;letter-spacing:-1px;}
	.loan4 ul li  {float:none; padding:0 5%; width:100%;}
	.loan4 ul li.step1 {padding-bottom:3%;padding-right:5%;}
	.loan4 ul li.step2 {padding-bottom:3%;padding-right:0%; width:48.5%;}
	.loan4 ul li.step3 {padding-bottom:3%;padding-right:0%; width:46.5%;; padding-left:2%;}
	.loan4 .step {padding-top:10px;padding-bottom:10px; text-align: left;}
	.loan4 .step22 {padding-top:10px;padding-bottom:0px;}
	.loan4 .pd {padding:0 5%;}

	.loan4 .th {font-size:18px; font-weight: 300; padding-top:20px;}
	.loan4 .radiobt {font-size:18px; font-weight: 500;}
	.loan4 .radiobt li {padding-bottom:10px;}
	.loan4 .radiobt1 li:nth-child(1) {float: left; width: 40%; font-size:18px; font-weight: 500; padding: 10px 5% 0px;}
	.loan4 .radiobt1 li:nth-child(2) {float: left; width: 25%; font-size:14px; font-weight: 500; padding:25px 2% 0px;}
	.loan4 .radiobt1 li:nth-child(3) {float: left; width: 35%; font-size:14px; font-weight: 500; padding:25px 2% 0px;}
	.loan4 .last {margin-bottom:20px;}
	.loan4 .pd {padding-bottom: 3%;}
	.loan4 .info {display:block;clear:both; display:block; float: none;background-color:#fff; font-size:16px; font-weight: 500; padding-bottom:10px; padding-right:5%; padding-top:20px;letter-spacing: -1px; color:#555;border-top:10px solid #f5f5f5}
	.loan4 .sum {position:relative;}
	.loan4 .won {position:absolute; right: 7%; top: 0; z-index: 3; float: right; width: auto; border: none; padding: 0 10px 0 0; line-height: 50px; font-size: 18px; padding-left: 0; background-color: transparent; color: #222;}

     /*버튼*/
	.btn1 {padding:0;}
	.btn1 a {position:fixed; bottom: 0; font-size: 20px; color: #222;  box-sizing:border-box; border-radius:0px; text-align: center; display: block;
	         background-color: #ffe327; width: 100%; text-decoration: none; z-index: 1000;  height: 60px; line-height: 60px;}
	.btn1 span {color:#324eb9; font-weight: 600; }





	/*극찬이유*/

	.reason {width:100%!important; clear: both;  padding-bottom:10px;}

	.reason h2 {padding:25px 0 25px; font-size: 26px; font-weight: 600; text-align: center; color:#6651b5; line-height: 28px;}
 	.reason h2 span {font-size:18px; font-weight: 400; color:#222;}
	.swiper-container {width:100%; position: relative; height: 280px; }
	.swiper-slide { width:80%!important; border-radius: 5px; border:1px solid #ccc; margin:0 10%; height: 230px!important; padding: 5%; box-sizing: border-box; box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15); text-align: center;}	
	.swiper-pagination {position: absolute; bottom: 0;}
	.swiper-slide img {width:100%; margin-top:3%;}
	.swiper-slide .title {width:100%!important; font-size:22px; letter-spacing: -0.5px; line-height: 24px; padding: 10px 0 10px; color:#222; font-weight: 600;}
	.swiper-slide .text {width:100%!important; font-size:16px; letter-spacing: -0.5px; line-height: 18px;}
	.swiper-button-prev {--swiper-theme-color:#555; margin-top:-30px!important; --swiper-navigation-size:25px!important;}
	.swiper-button-next {--swiper-theme-color:#555; margin-top:-30px!important; --swiper-navigation-size:25px!important;}
	.swiper-pagination {--swiper-pagination-color:#555;}


	.bar { clear:both; width:100%; height: 10px; background-color: #f9f9f9; border-top:1px solid #eaeaea; border-bottom:1px solid #eaeaea;}



	/*푸터*/

	.footer {background-color:#202f55; width:100%; clear:both; margin:20px auto 0; text-align: left; padding:0 5% 100px;}
	.footer ul li {float:left; padding-top:10px; padding-bottom: 10px;}
	.footer h4 {font-size:18px; color:#fff; padding-top: 20px; text-align: left; font-weight: 400;}
	.footer ul li:nth-child(2) {font-size:14px; color:#b9becd; font-weight: 300; line-height: 16px; padding: 20px 0 0 10px;}
	.footer p {clear:both; border-top:1px solid #4a5b87; color:#b9becd; padding-top:30px; font-size: 14px; line-height: 18px;}
    .footer p a{text-decoration:none; color:#b9becd;} 
	


	@media all and (min-width: 600px){
	.top_call ul li:last-child {float:right!important; width:50%; padding: 2% 5%;}
	.top_call ul li:last-child a {float:right!important; text-decoration:none; color:#222; font-size:22px;  border-radius: 60px; padding:10px 5px;}
 	.top_call ul li:last-child span {font-weight:600;}
		
		
	/*극찬이유*/

	.reason {width:100%!important; clear: both;  padding-bottom:10px;}

	.reason h2 {padding:35px 0 25px; font-size: 30px; font-weight: 600; text-align: center; color:#6651b5; line-height: 34px;}
 	.reason h2 span {font-size:22px; font-weight: 400; color:#222;}
	.swiper-container {width:100%; position: relative; height: 380px; margin:0 auto;  text-align: center;}
	.swiper-slide { width:80%!important; border-radius: 5px; border:1px solid #ccc; margin:0 10%; height: 340px!important; padding: 5%; box-sizing: border-box; box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15); text-align: center!important;}	
	.swiper-pagination {position: absolute; bottom: 0;}
	.swiper-slide ul li {float:none!important;}	
	.swiper-slide img {width:80%; margin:3% auto 0; text-align: center;}
	.swiper-slide .title {width:100%!important; font-size:22px; letter-spacing: -0.5px; line-height: 24px; padding: 10px 0 10px; color:#222; font-weight: 600;}
	.swiper-slide .text {width:100%!important; font-size:16px; letter-spacing: -0.5px; line-height: 18px;}
	.swiper-button-prev {--swiper-theme-color:#555; margin-top:-30px!important; --swiper-navigation-size:25px!important;}
	.swiper-button-next {--swiper-theme-color:#555; margin-top:-30px!important; --swiper-navigation-size:25px!important;}
	.swiper-pagination {--swiper-pagination-color:#555;}
	
		
}
