@charset "utf-8";

/* 펀딩디자이너 스토리 */
.funding_story {border: 1px solid #E2E2E2;}
.funding_story .main-banner {width: 100%;height: auto;}
.funding_story .list {margin: 0 auto;width: 990px;}
.funding_story .list .latest {margin: 20px 0;}
.funding_story .list .latest .left {float: left;width: 62%;}
.funding_story .list .latest .left iframe {height: 405px;}
.funding_story .list .latest .right {float: right;margin-left: 10px;width: 312px;height: 337px;background-color: #EFEFEF;border: 1px solid #DFDFDF;padding: 33px 25px 33px 25px;}
.funding_story .list .latest .right strong {font-size: 24px;color: #1A1A1A;}
.funding_story .list .latest .right h5 {display: block;font-size: 17px;color: #1A1A1A;padding-top: 15px;line-height: 26px;}
.funding_story .list .latest .right span {display: block;font-size: 14px;color: #1A1A1A;padding-top: 15px;line-height: 26px;}
.funding_story .list .latest:after {content: "";clear: both;display: block;}

.funding_story .list img {margin-top: 30px;margin-bottom: 20px;}
.funding_story .list ul {overflow: hidden;}
.funding_story .list ul li {min-height: 439px;border: 1px solid #D6D6D6;width: 319px;margin-left: 13px;float: left;}
.funding_story .list ul li:first-child {margin: 0;padding: 0}
.funding_story .list ul li iframe {padding: 0;height: 220px;}
.funding_story .list ul li img {width: 319px;height: 200px;}
.funding_story .list ul li a:hover {text-decoration: underline;}
.funding_story .list ul li span {margin-bottom: 10px;display: block;text-align: justify;}
.funding_story .list ul li span.subject {font-size: 16px;font-weight: bold;}
.funding_story .list ul li span.subheading {font-size: 14px;color: #343434;line-height: 20px;}
.funding_story .list ul li span.contents {font-size: 13px;color: #929292;line-height: 20px;}
.funding_story .list ul li table tbody {margin: 15px;display: block;}
.funding_story .list ul li table tr td img {margin:0;padding:0;}

div.m_more_list_loading {text-align: center;display: none;}
div#mask {position: absolute;z-index: 8888;background-color: #000;display: none;left: 0;top: 0;}
div#preview {z-index: 9999;position: absolute;display: none;color: #FFF;}
div#preview img.thumbnail {width: 50%;left: 24%;top: 21%;position: fixed;border: 1px solid #999;}
div#preview img.close {position: fixed;right: 23%;top: 18%;width: 19px;cursor: pointer;}