@charset "utf-8";

@font-face{
   font-family: "Spoqa Han Sans";
   src:local("Spoqa Han Sans Thin"), local("Spoqa Han Sans Thin"), url("/gnitekram/css/font/Spoqa Han Sans Thin.woff2") format("woff2"), url("/gnitekram/css/font/Spoqa Han Sans Thin.woff") format("woff"), url("/gnitekram/css/font/Spoqa Han Sans Thin.ttf") format("truetype");

   font-weight: 100;
}
@font-face{
   font-family: "Spoqa Han Sans";
   src:local("Spoqa Han Sans Bold"), local("Spoqa Han Sans Light"), url("/gnitekram/css/font/Spoqa Han Sans Light.woff2") format("woff2"), url("/gnitekram/css/font/Spoqa Han Sans Light.woff") format("woff"), url("/gnitekram/css/font/Spoqa Han Sans Light.ttf") format("truetype");

   font-weight: 300;
}
@font-face{
   font-family: "Spoqa Han Sans";
   src:local("Spoqa Han Sans Bold"), local("Spoqa Han Sans Regular"), url("/gnitekram/css/font/Spoqa Han Sans Regular.woff2") format("woff2"), url("/gnitekram/css/font/Spoqa Han Sans Regular.woff") format("woff"), url("/gnitekram/css/font/Spoqa Han Sans Regular.ttf") format("truetype");

   font-weight: 400;
}
@font-face{
   font-family: "Spoqa Han Sans";
   src:local("Spoqa Han Sans Bold"), local("Spoqa Han Sans Bold"), url("/gnitekram/css/font/Spoqa Han Sans Bold.woff2") format("woff2"), url("/gnitekram/css/font/Spoqa Han Sans Bold.woff") format("woff"), url("/gnitekram/css/font/Spoqa Han Sans Bold.ttf") format("truetype");

   font-weight: 700;
}



body, input, textarea, select, button, table{ margin:0; font-size:13px; font-family: 'Spoqa Han Sans', Dotum, Helvetica, AppleGothic, Sans-serif; color:#000; }
body, h1, h2, h3, h4, h5, dl, dt, dd, ul, li, ol, th, td, p, form, fieldset, legend, button { margin: 0; padding:0; font-weight:normal; }


img, fieldset{ border:0 none; }
dl, ul, ol, li { list-style: none outside none; }
button{ border:0 none; cursor:pointer; display: block; }
table, th, td, div{ border-collapse:collapse; }
textarea { outline:0; }

body{  -webkit-text-size-adjust:none;/*iphone font resizing*/ background-color: #ececec;}
a,img,input { outline:none; selector-dummy:expression(this.hideFocus=true); }

*{-webkit-text-size-adjust: none;  -moz-text-size-adjust: none;   -ms-text-size-adjust: none;}

a,img,input { outline:none; selector-dummy:expression(this.hideFocus=true); }

/* ����Ͽ� */
input[type=image] {
-webkit-appearance: none;
-webkit-border-radius: 0;
-webkit-text-size-adjust: none;
}


li img { vertical-align:top; }
td img { vertical-align:middle; }

a { text-decoration:none; color:#202020; }
a:hover, a:active, a:focus { color:#153fa1; text-decoration:none; }
table a:link, table a:visited { color:#202020; }
table a:hover, table a:active { color:#153fa1; text-decoration:none; }
address, caption, cite, code, dfn, em, var { font-style:normal; }
address{line-height:20px;}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #919191;
	font-size:12px;
	line-height:18px;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #919191;
	font-size:12px;
	line-height:18px;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #919191;
	font-size:12px;
	line-height:18px;
}

strong, .strong, b {font-family:'Spoqa Han Sans';}
.blind, legend, caption {display:none !important}
.cursor {cursor: pointer}
.clear {clear:both}

input.text { height:33px; padding:0 5px; border:1px solid #ddd; background-color:#f8f8f8; vertical-align:middle; min-width:340px; }




select::-ms-expand {
   display: none;
}

body {background:#fff;font-family: 'Spoqa Han Sans';}

.tel a {position:absolute;top:12px;right:1px;width:120px;height:40px;color:#171413;font-size:16px;font-weight:700;cursor:pointer;}
.top {width:100%;text-align:center;}
.top .head {width:100%;}
.top .top_data {padding:20px 0;display:block;clear:both; border: 3px solid #1a1f59;}
.top .top_btn li {display:inline-block;margin:0 auto;}
.top .top_data li .earn_numb {
	width: 100px;
    height: 30px;
	text-align:center;
    padding-left:0;
    font-size: 18px;
	font-weight: 700;
    color: #e94d65;
    border:1px solid #e94d65;
	border-width: 0 0 2px 0;
    border-radius: 0px;
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: url('../img/m/arrow01.png') no-repeat 98% 50%;background-size:16%;/* ȭ��ǥ ������ �߰� */
}
.top .top_data li .earn_numb option{
	font-size: 18px;
	color: #000;
}
.top .top_data li p:nth-child(1) {padding-top:10px;width:70%;margin:0 auto;color: #000;}
.top .top_data li p:nth-child(2) {padding-top:3px;border-bottom:1px solid #1a1f59;width:70%;margin:0 auto;line-height:32px;color: #000;}
.top .top_data li p:nth-child(3) {padding-top:3px;border-bottom:1px solid #1a1f59;width:70%;margin:0 auto;line-height:28px;color: #000;}
.top .top_data li p:nth-child(4) {font-size:12px;padding-top:5px;width:70%;margin:0 auto;line-height:16px;color: #000;}
.top .top_data li p span {font-size:20px;color:#fff;font-weight:700;line-height:18px;color: #000;}



#quick_join {position:relative;background-color:#fff;}
.quick_join .join_form {width:100%;}
.quick_join .join_form p {width:88%;margin:0 auto;font-size:12px;font-weight:700;line-height:30px;padding:5px 0;}
.quick_join .join_form p .repeat_btn {width:60px;font-size:12px;color:#fff;border-radius:3px;background-color:#535353;height:32px;display:inline-block;text-align:center;vertical-align:bottom;cursor:pointer;}
.quick_join .join_form p .certify_btn {margin:8px 0 0 73px;width:220px;font-size:12px;color:#fff;border-radius:3px;background-color:#4d4e53;line-height:32px;display:inline-block;text-align:center;cursor:pointer;}
.quick_join .join_form p:nth-child(1) {width:88%;margin:0 auto;font-size:12px;line-height:30px;padding-top:5px;}
.quick_join .join_form p:nth-child(7) {width:88%;margin:0 auto;font-size:12px;line-height:30px;padding-bottom:15px;}
.quick_join .join_form p span {width:70px;display:inline-block;}
.quick_join .join_form p .agree {width:82%;margin:0 auto;font-size:14px;font-weight:700;line-height:30px;padding:5px 0;border:1px solid red;}
.quick_join .join_form p input[type="text"],
.quick_join .join_form p input[type="password"] {border:0px solid #c9ccdd;border-radius:3px;width:165px;height:33px;background-color:#ececec;padding-left:5px;}
.quick_join .join_form p input[type="phonenumb"] {border:0px solid #c9ccdd;border-radius:3px;width:42px;height:33px;background-color:#ececec;text-align:center;}
.quick_join .join_form p input[type="birth"] {border:0px solid #c9ccdd;border-radius:3px;width:108px;height:33px;background-color:#ececec;text-align:center;}
.quick_join .join_form p input[type="file"] {width:80px;}
.quick_join .join_form p input[type="file"]:focus, .register_form input[type="file"]:active  {border: none !important;}
.quick_join .join_form p input[type="text"]:focus, input[type="text"]:active,
.quick_join .join_form p input[type="birth"]:focus, input[type="birth"]:active,
.quick_join .join_form p input[type="phonenumb"]:focus, input[type="phonenumb"]:active,
.quick_join .join_form p input[type="password"]:focus, input[type="password"]:active {border:1px solid #078dff;border-radius:3px;background-color:#ececec;}
.quick_join .join_form p select {border:1px solid #000;border-radius:3px;width:55px;height:26px;background-color:#fff;text-align:center;}
.quick_join .join_form p .sex_btn1 {height:30px;width:45px;border:1px solid #c9ccdd;border-radius:3px;background-color:#fff;text-align:center;vertical-align:bottom;color:#105ee7;}
.quick_join .join_form p .sex_btn2 {height:30px;width:45px;border:1px solid #c9ccdd;border-radius:3px;background-color:#fff;text-align:center;vertical-align:bottom;color:#e81052;}

.join_btn {width:88%;height:42px;line-height:42px;background-color:#e90024;font-size:18px;color:#fff;font-weight:700;border-radius:3px;text-align:center;cursor:pointer;margin:0 auto;display:block;} 
.join_btn:hover {width:88%;height:42px;line-height:42px;background-color:#e94d65;font-size:18px;color:#fff;font-weight:700;border-radius:3px;text-align:center;cursor:pointer;margin:0 auto;display:block;}
/*.quick_join .agree {width:100%;background:url('../img/m/quick_join_bg01.jpg') center top repeat-y;background-size:100%;padding:15px 0;}*/
.quick_join .agree {width:100%;background-size:100%;padding:15px 0;}
.quick_join .agree p {width:88%;margin:0 auto;font-size:12px;font-weight:700;}
.quick_join .agree .join_btn {width:88%;height:42px;line-height:42px;background-color:#e90024;font-size:18px;color:#fff;font-weight:700;border-radius:3px;text-align:center;margin-top:15px;cursor:pointer;}
.quick_join .agree .agree_list {font-size:11px;font-weight:500;padding:6px 0;color:#0b3f9b;display:block;}
.quick_join .agree .agree_list .view_btn {float:right;display:block;font-size:12px;font-weight:500;color:#9e9e9f;width:40px;height:24px;line-height:24px;border:1px solid #d6d6d6;text-align:center;cursor:pointer;}
.quick_join .agree .agree_list .view_btn a {float:right;display:block;font-size:12px;font-weight:500;color:#9e9e9f;width:40px;height:24px;line-height:24px;text-align:center;cursor:pointer;}



.invest_total ul li {font-size:16px;font-family: 'Spoqa Han Sans';font-weight:700;line-height:22px;letter-spacing:1px;}
.invest_total ul li .total_1 {font-size:24px;font-family: 'Spoqa Han Sans';font-weight:700;color:#0038ca;}
.invest_total ul li .total_2 {font-size:24px;font-family: 'Spoqa Han Sans';font-weight:700;color:#0b3f9b;}
.invest_total ul li .total_3 {font-size:24px;font-family: 'Spoqa Han Sans';font-weight:700;}
.invest_total ul li .date {font-size:14px;font-family: 'Spoqa Han Sans';font-weight:500;}
.interview ul li {text-align:center;margin:0 auto;}
.interview ul .more_btn {width:88%;height:42px;line-height:42px;background-color:#e90024;font-size:18px;color:#fff;font-weight:700;border-radius:3px;text-align:center;margin-top:15px;cursor:pointer;}
.interview ul .more_btn a {line-height:42px;font-size:18px;color:#fff;font-weight:700;cursor:pointer;}

@media (min-width:360px) {
.top .head {width:100%;}
.top .top_data {border:3px solid #1a1f59;}
.top .top_btn {border:3px solid #0038ca;margin-top:-3px;}
.top .top_btn li {display:inline-block;margin:0 auto;}

.top .top_btn li:nth-child(1) {background-color:#0038ca;width:50%;color:#fff;font-size:19px;font-weight:600;line-height:42px;}
.top .top_btn li:nth-child(1) a {color:#fff;font-size:19px;font-weight:600;display:block;cursor:pointer;line-height:45px;}

.top .top_btn li:nth-child(2) {background-color:#fff;width:49.2%;color:#000;font-size:19px;font-weight:600;line-height:42px;}
.top .top_btn li:nth-child(2) a {color:#000;font-size:19px;font-weight:600;cursor:pointer;line-height:45px;}
.tel a {position:absolute;top:12px;right:-3px;width:120px;height:40px;color:white;font-size:16px;font-weight:700;cursor:pointer;}
}

@media (min-width:375px) {
.top .head {width:100%;}
.top .top_data {border:3px solid #1a1f59;}
.top .top_btn {border:3px solid #0038ca;margin-top:-3px;}
.top .top_btn li {display:inline-block;margin:0 auto;}

.top .top_btn li:nth-child(1) {background-color:#0038ca;width:50%;color:#fff;font-size:19px;font-weight:600;line-height:42px;}
.top .top_btn li:nth-child(1) a {color:#fff;font-size:19px;font-weight:600;display:block;cursor:pointer;line-height:45px;}

.top .top_btn li:nth-child(2) {background-color:#fff;width:49.2%;color:#000;font-size:19px;font-weight:600;line-height:42px;}
.top .top_btn li:nth-child(2) a {color:#000;font-size:19px;font-weight:600;cursor:pointer;line-height:45px;}
.tel a {position:absolute;top:12px;right:1px;width:120px;height:40px;color:white;font-size:16px;font-weight:700;cursor:pointer;}
}

@media (min-width:400px) {
.top .head {width:100%;}
.top .top_data {border:3px solid #1a1f59;}
.top .top_btn {border:3px solid #0038ca;margin-top:-3px;}
.top .top_btn li {display:inline-block;margin:0 auto;}

.top .top_btn li:nth-child(1) {background-color:#0038ca;width:50%;color:#fff;font-size:19px;font-weight:600;line-height:42px;}
.top .top_btn li:nth-child(1) a {color:#fff;font-size:19px;font-weight:600;display:block;cursor:pointer;line-height:45px;}

.top .top_btn li:nth-child(2) {background-color:#fff;width:49.2%;color:#000;font-size:19px;font-weight:600;line-height:42px;}
.top .top_btn li:nth-child(2) a {color:#000;font-size:19px;font-weight:600;cursor:pointer;line-height:45px;}
.invest_total {width:100%;}
.invest_total ul {text-align:center;}
.tel a {position:absolute;top:14px;right:5px;width:120px;height:40px;color:white;font-size:17px;font-weight:700;cursor:pointer;}
}

@media (min-width:414px) {
.top .head {width:100%;}
.top .top_data {border:3px solid #1a1f59;}
.top .top_btn {border:3px solid #0038ca;margin-top:-3px;}
.top .top_btn li {display:inline-block;margin:0 auto;}

.top .top_btn li:nth-child(1) {background-color:#0038ca;width:50%;color:#fff;font-size:19px;font-weight:600;line-height:42px;}
.top .top_btn li:nth-child(1) a {color:#fff;font-size:19px;font-weight:600;display:block;cursor:pointer;line-height:45px;}

.top .top_btn li:nth-child(2) {background-color:#fff;width:49.2%;color:#000;font-size:19px;font-weight:600;line-height:42px;}
.top .top_btn li:nth-child(2) a {color:#000;font-size:19px;font-weight:600;cursor:pointer;line-height:45px;}
.invest_total {width:100%;}
.invest_total ul {text-align:center;}
.tel a {position:absolute;top:14px;right:6px;width:120px;height:40px;color:white;font-size:18px;font-weight:700;cursor:pointer;}
}




.img-auto {
    max-width: 100%;
    height: auto;
}

.centered {
    position: absolute;
    top: 39%;
    left: 25%;
  }



@media (min-width: 576px) { 
    .invest_total ul li {
        font-size: 24px;
        line-height: 2rem;
    }

    #principal {
        width: 240px;
        font-size: 24px;
    }
    .top .top_data li p:nth-child(2) {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .invest_total ul li {
        font-size: 30px;
        line-height: 2.4rem;
}
 }

@media (min-width: 992px) { 

    .invest_total ul li {
        font-size: 36px;
        line-height: 2.8rem;
}
 }

@media (min-width: 1200px) { ... }