#wrapper{margin:0;}

/*** 내용 ***/
#wrapper:after {display:block;visibility:hidden;clear:both;content:""}

#container {position:relative; min-height:300px}

#container > img { display:block; max-width:100%; }
#container:after {display:block;visibility:hidden;clear:both;content:""}
#container_title {margin:20px 10px 15px;font-size:1.3em;font-weight:bold}

/*** 공통 ***/
#container > img { display:block; max-width:100%; }

#content .location { line-height:30px; padding:0 14px; background-color:#eaeaea;}
#content .location  span {padding:0 7px;background:url('/images/icon_home.gif') no-repeat;background-position:0 50%;position:relative;}
#content .location  span > a { padding-left:12px;margin-left:17px; background:url('/images/icon_arrow.gif') no-repeat left center;font-size:13px;position:relative;}
#content .location b { padding-left:13px; margin-left:7px; background:url('/theme/blueman1/img2/icon_arrow.gif') no-repeat left center; }

#content .content { padding:20px 10px; }
#content .content  h2{ margin-bottom:5px; font-size:20px; color:#202020; }
#content .content  h2.small { position:relative; margin-bottom:5px; text-align:center; font-size:18px; color:#202020; font-weight:bold; }
#content .content  h3 { position:relative; margin-bottom:7px; font-size:16px; color:#202020; line-height:20px; font-weight:bold; }
#content .content .subTitle { margin-bottom:15px; font-size:14px; color:#707070; }
#content .btnArea { margin-top:10px; text-align:center; }
#content .btnArea2 { margin-top:10px; text-align:center; }
#content .btnArea2 a { width:49%; box-sizing:border-box; }
#content .btnArea2 a:first-child { margin-right:2%; }

#content .btnArea a { width:40%; box-sizing:border-box; }
#content .btnArea .btn_big_green_2 { width:100%; box-sizing:border-box; }

#container #content > img { display:block; max-width:100%; }

/*** 상품내용중 문서링크 버튼 ***/
#content a.btn_blue_document { display:inline-block; min-width:210px; padding:3px 10px; text-align:center; font-family:'NGB'; font-size:12px; line-height:14px; color:#fff; border-radius:3px; background-color:#00BFFF; cursor:pointer; }
#content a.btn_blue_document:hover { background-color:#0592EB; }

#content a.btn_red_document  { display:inline-block; min-width:210px; padding:3px 10px; text-align:center; font-family:'NGB'; font-size:12pt; line-height:14px; color:#fff; border-radius:3px; background-color:#FF4444; cursor:pointer; }
#content a.btn_red_document:hover  { background-color:#FF6044; }
/*** 상품내용중 문서링크 버튼 ***/


/*** btn ***/
.btn_green { display:inline-block; min-width:70px; height:34px; padding:0 7px; line-height:34px; text-align:center; font-family:'NG'; font-size:13px; color:#fff; border-radius:3px; background-color:#00c5b0; border:0; box-sizing:border-box; cursor:pointer; }
.btn_green:hover, .btn_green:active { color:#fff; background-color:#00b4a0; }
a.btn_green { color:#fff; }

.btn_blue  { display:inline-block; min-width:70px; height:34px; padding:0 7px; line-height:34px; text-align:center; font-family:'NG'; font-size:13px; color:#fff; border-radius:3px; background-color:#284893; border:0; box-sizing:border-box; cursor:pointer; }
.btn_blue:hover, .btn_blue:active { color:#fff; background-color:#173793; }
a.btn_blue { color:#fff; }

.btn_gray  { display:inline-block; min-width:70px; height:34px; padding:0 7px; line-height:34px; text-align:center; font-family:'NG'; font-size:13px; color:#fff; border-radius:3px; background-color:#aaa; border:0; box-sizing:border-box; cursor:pointer; }
.btn_gray:hover, .btn_gray:active { color:#fff; background-color:#999; }
a.btn_gray { color:#fff; }

.btn_white { display:inline-block; min-width:70px; height:34px; padding:0 7px; line-height:34px; text-align:center; font-family:'NG'; font-size:13px; color:#555; border-radius:3px; background-color:#ffffff; border:0; box-sizing:border-box; cursor:pointer; }
.btn_white:hover, .btn_white:active { color:#555; background-color:#eeeeee; }
a.btn_white { color:#555; }

.btn_blue_dis { display:inline-block; min-width:70px; height:34px; padding:0 7px; line-height:34px; text-align:center; font-family:'NG'; font-size:13px; color:#fff; border-radius:3px; background-color:#ccc; border:0; box-sizing:border-box; cursor:pointer; }
.btn_blue_dis:hover, .btn_blue_dis:active { color:#fff; background-color:#ccc; }
a.btn_blue_dis { color:#fff; }

.btn_link { display:inline-block; padding:0 30px 0 15px; line-height:29px; text-align:center; font-family:'NG'; font-size:13px; color:#202020; background:#fff url('/theme/blueman1/img2/arrow_black2.gif') no-repeat 80px center; background-size:8px auto; border-radius:3px; border:1px solid #ccc; cursor:pointer; }
.btn_link:hover, .btn_link:active { color:#202020; }
a.btn_link { color:#202020; }

.btn_big_link  { display:inline-block; width:100%; line-height:32px; text-align:center; font-family:'NGB'; font-size:14px; color:#202020; border-radius:3px; background-color:#fff; border:1px solid #ccc; cursor:pointer; }
.btn_big_link:hover, .btn_big_link:active   { color:#202020; background-color:#eee; }
a.btn_big_link { color:#202020; }

.btn_big_green { display:inline-block; min-width:45%; line-height:32px; text-align:center; font-family:'NGB'; font-size:14px; color:#fff; border-radius:3px; background-color:#00c5b0; border:1px solid #00c5b0; cursor:pointer; }
.btn_big_green:hover, .btn_big_green:active { color:#fff; background-color:#00b4a0; }
a.btn_big_green { color:#fff; }

.btn_big_blue  { display:inline-block; width:100%; line-height:32px; text-align:center; font-family:'NGB'; font-size:14px; color:#fff; border-radius:3px; background-color:#284893; border:1px solid #284893; cursor:pointer; }
.btn_big_blue:hover, .btn_big_blue:active   { color:#fff; background-color:#052981; }
a.btn_big_blue { color:#fff; }

.btn_big_gray  { display:inline-block; width:100%; line-height:32px; text-align:center; font-family:'NGB'; font-size:14px; color:#fff; border-radius:3px; background-color:#aaa; border:1px solid #aaa; cursor:pointer; }
.btn_big_gray:hover, .btn_big_gray:active   { color:#fff; background-color:#999; }
a.btn_big_gray { color:#fff; }

.btn_blue2 { display:inline-block; min-width:30px; padding:0 7px; line-height:24px; text-align:center; font-family:'NG'; font-size:13px; color:#fff; border-radius:3px; background-color:#284893; vertical-align:middle; cursor:pointer; }
.btn_blue2:hover, .btn_blue2:active { color:#fff; background-color:#173793; }
a.btn_blue2 { color:#fff; }

.btn_blue2_2 { display:inline-block; padding:2px 7px; text-align:center; font-family:'NG'; font-size:12px; color:#fff; border-radius:2px; background-color:#284893; vertical-align:middle; cursor:pointer; }
.btn_blue2_2:hover, .btn_blue2_2:active { color:#fff; background-color:#173793; }
a.btn_blue2_2 { color:#fff; }

.btn_green2 { display:inline-block; min-width:70px; height:34px; padding:0 7px; line-height:34px; font-family:'NG'; text-align:center; font-size:13px; color:#fff; border-radius:3px; background-color:#00c5b0; border:0; box-sizing:border-box; cursor:pointer; }
.btn_green2:hover, .btn_green2:active { color:#fff; background-color:#00b4a0; }
a.btn_green2 { color:#fff; }

.btn_green3 { display:inline-block; min-width:30px; padding:0 7px; line-height:24px; text-align:center; font-family:'NG'; font-size:13px; color:#fff; border-radius:3px; background-color:#00c5b0; vertical-align:middle; cursor:pointer; }
.btn_green3:hover, .btn_green3:active { color:#fff; background-color:#00b4a0; }
a.btn_green3 { color:#fff; }

.btn_gray3  { display:inline-block; padding:3px; line-height:15px; text-align:center; font-size:13px; color:#fff; font-family:'NG'; border-radius:3px; background-color:#aaa; vertical-align:middle; cursor:pointer; }
.btn_gray3:hover, .btn_gray3:active { color:#fff; background-color:#999; }
a.btn_gray3 { color:#fff; }

.btn_gray3_2 { display:inline-block; padding:2px 7px; text-align:center; font-family:'NG'; font-size:12px; color:#fff; border-radius:2px; background-color:#aaa; vertical-align:middle; cursor:pointer; }
.btn_gray3_2:hover, .btn_gray3_2:active { color:#fff; background-color:#999; }
a.btn_gray3_2 { color:#fff; }

.btn_green3_2 { display:inline-block; padding:3px; line-height:15px; text-align:center; font-size:13px; color:#fff; font-family:'NG'; border-radius:3px; background-color:#00c5b0; vertical-align:middle; cursor:pointer; }
.btn_green3_2:hover, .btn_green3_2:active { color:#fff; background-color:#00b4a0; }
a.btn_green3_2 { color:#fff; }

.btn_big_green2 { display:inline-block; width:100%; line-height:32px; text-align:center; font-family:'NG'; font-size:12px; color:#fff; border-radius:3px; background-color:#00c5b0; border:1px solid #00c5b0; cursor:pointer; }
.btn_big_green2:hover, .btn_big_green2:active { color:#fff; background-color:#00b4a0; }
a.btn_big_green2 { color:#fff; }

.btn_big_green_2 { display:inline-block; width:145px; line-height:32px; text-align:center; font-family:'NG'; font-size:12px; color:#fff; border-radius:3px; background-color:#00c5b0; border:1px solid #00c5b0; cursor:pointer; }
.btn_big_green_2:hover, .btn_big_green_2:active { color:#fff; background-color:#00b4a0; }
a.btn_big_green_2 { color:#fff; }

.btn_big_gray2 { display:inline-block; min-width:160px; line-height:32px; text-align:center; font-family:'NG'; font-size:15px; color:#fff; border-radius:3px; background-color:#aaa; border:1px solid #aaa; cursor:pointer; }
.btn_big_gray2:hover, .btn_big_gray2:active { color:#fff; background-color:#999; }
a.btn_big_gray2 { color:#fff; }

.btn_big_link2  { display:inline-block; width:100%; line-height:32px; text-align:center; font-family:'NG'; font-size:12px; color:#202020; border-radius:3px; background-color:#fff; border:1px solid #ccc; cursor:pointer; }
.btn_big_link2:hover, .btn_big_link2:active { color:#202020; background-color:#eee; }
a.btn_big_link2 { color:#202020; }

.btn_big_blue2 { display:inline-block; width:145px; line-height:35px; text-align:center; font-size:14px; color:#fff; border-radius:3px; background-color:#284893; border:1px solid #284893; cursor:pointer; }


/*** color ***/
.blue  { color:#284893 !important; }
.blue2 { color:#2a54b1 !important; }
.green { color:#00c5b0 !important; }
.black { color:#202020 !important; }
.red   { color:#ee1d1d !important; }
.gray  { color:#707070 !important; }

/*** align ***/
.alignL { text-align:left !important; }
.alignR { text-align:right !important; }
.alignC { text-align:center !important; }

/*** margin ***/
.mt5 { margin-top:5px !important; }
.mt40 { margin-top:40px !important; }

.mr20 { margin-right:0 !important; }

.mb10 { margin-bottom:10px !important; }
.mb20 { margin-bottom:20px !important; }
.mb30 { margin-bottom:30px !important; }
.mb40 { margin-bottom:40px !important; }

/*** 준비중 ***/
#content .ready { padding:20px 10px; font-size:14px; line-height:22px; color:#707070; text-align:center; background:url('/theme/blueman1/img2/member/hello_bg.gif') no-repeat left top; background-size:auto 2px; border:2px solid #f1f3f5; border-top:0; }
#content .ready img { width:60px; }
#content .ready .title { margin:5px 0 10px 0; font-size:17px; color:#284893; font-weight:bold; }
#content .ready .text { margin-bottom:10px; font-size:13px; color:#707070; line-height:18px; }

/*** 회원가입 ***/
#content .hello { margin-bottom:20px; padding:15px; background:url('/theme/blueman1/img2/member/hello_bg.gif') no-repeat left top; background-size:auto 2px; border:2px solid #f1f3f5; border-top:0; }
#content .hello .info { position:relative; min-height:60px; padding-left:72px; margin-bottom:10px; font-size:13px; line-height:16px; color:#707070;  }
#content .hello img { position:absolute; left:0; top:0; width:60px; }
#content .hello .title { margin:5px 0; font-size:16px; color:#202020; font-weight:bold; }
#content .hello:last-child { margin:0; }

#content .joinType .info { padding-top:7px; }
#content .joinType .info.face { padding-top:2px; }

/*** 가입정보 입력 ***/
#content .tab_type01 { margin-bottom:30px; overflow:hidden; }
#content .tab_type01 li { float:left; width:49%; line-height:32px; color:#fff; font-size:14px; text-indent:13px; background:url('/theme/blueman1/img2/member/tab_join.gif') no-repeat -412px top; background-size:auto 100%;  cursor:pointer; }
#content .tab_type01 li a { color:#fff;  }
#content .tab_type01 li.on { background-position:left top; }
#content .tab_type01 li:first-child { margin-right:2%; }

#content .typeBox .type01 td input#mb_id1 { width:60%; }
#content .typeBox .type01 td input#mb_id2 { width:60%; }

#content .typeBox { display:none; }
#content .Agree { margin:10px 0 30px 0; font-size:13px; color:#202020; font-weight:bold;  }
#content .Agree input { vertical-align:middle; }

/* 회원정보 */
.btnWrap { position:relative; height:34px; padding-right:75px; }
.btnWrap .btn_green2,
.btnWrap .btn_gray { position:absolute; right:0; top:0; }
.btnWrap2 { position:relative; height:34px; padding-right:101px; }
.btnWrap2 .btn_green2{ position:absolute; right:0; top:0; }

#content .typeBox .type01 td input#mb_hp1 { width:28%; }
#content .typeBox .type01 td input#mb_hp2 { width:28%; }
#content .typeBox .type01 td input#mb_hp3 { width:28%; }

/*** 가입완료 ***/
#content .welcome { padding:20px 10px; font-size:13px; line-height:16px; text-align:center; color:#707070; background:url('/theme/blueman1/img2/member/hello_bg.gif') no-repeat left top; background-size:auto 2px; border:2px solid #f1f3f5; border-top:0; }
#content .welcome img { width:60px; }
#content .welcome .title { margin:10px 0; font-size:25px; line-height:28px; color:#202020; font-weight:bold; }
#content .welcome .btnArea { margin-top:15px; }
#content .welcome .btnArea a { margin:0 1px; width:125px; font-size:13px; line-height:38px; }

/*** 로그인 ***/
#content .login { padding:20px 10px 0 10px; font-size:13px; line-height:17px; text-align:center; color:#707070;  background:url('/theme/blueman1/img2/member/hello_bg.gif') no-repeat left top; background-size:auto 2px; border:2px solid #f1f3f5; border-top:0; }
#content .login img { margin:0 auto; width:60px;  }
#content .login .title { margin:5px 0; font-size:16px; color:#202020; font-weight:bold; }

#content .inputArea { margin-top:20px; }
#content .inputArea > div { position:relative; margin-bottom:5px; padding-left:40px; line-height:30px; border:1px solid #ddd; }
#content .inputArea .id {  background:#f8f8f8 url('/theme/blueman1/img2/member/icon_id.gif') no-repeat 10px center; }
#content .inputArea .pw {  background:#f8f8f8 url('/theme/blueman1/img2/member/icon_pw.gif') no-repeat 10px center; }
#content .inputArea .phone {  background:#f8f8f8 url('/theme/blueman1/img2/member/icon_phone.gif') no-repeat 10px center; }
#content .inputArea input { width:100%; background-color:transparent; border:0; box-sizing:border-box; }
#content .inputArea .id-label, .name-label, .p-label { position: absolute; top:0px; display:inline-block; line-height:30px; font-size:12px; color:#707070; }

#content .linkArea a { display:inline-block; margin-right:1px; color:#202020; }
#content .linkArea a:after { content:"|"; padding-left:2px; color:#b8b8b8; }
#content .linkArea a:last-child:after { content:""; }

#content .loginType { margin-top:20px; overflow:hidden; }
#content .loginType > div { padding:20px 0; margin:0 10px; text-align:left; border-bottom:1px solid #d6d6d6; box-sizing:border-box; }
#content .loginType .info { position:relative; min-height:40px; padding:10px 10px 10px 70px; font-size:13px; line-height:17px;  }
#content .loginType .info img { position:absolute; left:0; top:0; width:60px; }
#content .loginType .info .title { margin:0 0 3px 0; font-size:16px; color:#202020; font-weight:bold; }
#content .loginType > div:last-child { border:0; }
#content .loginType .btn_link { margin-left:70px; }

/*** 비밀번호 / 아이디 찾기 ***/
#content .findInfo { padding:20px; font-size:14px; line-height:22px; text-align:center; color:#707070;  background:url('/theme/blueman1/img2/member/hello_bg.gif') no-repeat left top; background-size:auto 2px; border:2px solid #f1f3f5; border-top:0; }
#content .findInfo img { margin:0 auto; width:60px; }
#content .findInfo .title { margin:5px 0; font-size:16px; color:#202020; font-weight:bold; }
#content .findInfo .btnArea { margin-top:5px; }

/*** 회원탈퇴 ***/
#content .break { padding:15px; margin-bottom:20px; font-size:13px; line-height:16px; color:#707070;  background:url('/theme/blueman1/img2/member/hello_bg.gif') no-repeat left top; background-size:auto 2px; border:2px solid #f1f3f5; border-top:0; }
#content .break li { margin-bottom:3px; }
#content .break .title { margin:5px 0 10px 0; font-size:16px; color:#202020; font-weight:bold; }

/*** loan ***/
#complete.loan .normal { display:inline-block; margin-top:5px; font-size:13px; font-weight:normal; color:#707070;  }


/*** 테이블 ***/
.type01 { border-top:2px solid #284893; }
.type01 table { width:100%; }
.type01 th,
.type01 td { height:20px; padding:8px 0; text-align:left; font-size:12px; color:#707070;  border-bottom:1px solid #ddd; }
.type01 th { width:80px; font-weight:bold; color:#202020; }
.type01 td b { display:block; margin-bottom:5px; font-size:14px; color:#202020; }
.type01 td input { vertical-align:middle; }
.type01 td input.text { height:33px; padding:0 5px; border:1px solid #ddd; background-color:#f8f8f8; vertical-align:middle; }
.type01 td input.price { min-width:180px; text-align:right; }
.type01 td select { height:20px; padding:0 5px; border:1px solid #ddd; background-color:#f8f8f8; vertical-align:middle; }
.type01 td textarea { height:120px; padding:10px; border:1px solid #ddd; background-color:#f8f8f8; box-sizing:border-box; }
.type01.bbs { border-bottom:1px solid #707580; }
.type01.bbs tr:last-child td,
.type01.bbs tr:last-child th{ border-bottom:0; }
/* 뒤쪽 원 붙이기 */
.type01 td input#request_money { width:90%; }

/*** 테이블 - th에 라인 / 센터정렬 ***/
.type03 { border-top:2px solid #284893; }
.type03 table { width:100%; }
.type03 th,
.type03 td { height:20px; padding:7px 10px; font-size:13px; text-align:left; color:#707070;  border-bottom:1px solid #d6d6d6; }
.type03 th { width:40%; font-weight:bold; color:#202020; background-color:#f7f7f7; }
.type03 thead th { border-bottom:1px solid #707580; }

/*** 테이블 - thea나눔 / th에 라인 / 센터정렬 / 모든칸에 라인 ***/
.type03_2 { border-top:2px solid #284893; }
.type03_2 table { width:100%; }
.type03_2 th,
.type03_2 td { height:35px; padding:8px 10px; font-size:14px; text-align:center; color:#707070; border-right:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6; }
.type03_2 th:last-child,
.type03_2 td:last-child { border-right:0; }
.type03_2 thead th { border-bottom:1px solid #707580; }
.type03_2 th { font-family:'NGB'; color:#202020; font-size:15px;  background-color:#f7f7f7; }
.type03_2 tbody th { width:16%; }

/*** 테이블 - 모든칸에 라인 / 왼쪽정렬 / 볼드체 ***/
.type04 { border-top:2px solid #284893; }
.type04 table { width:100%; }
.type04 th,
.type04 td { width:33.3%; height:25px; line-height:20px; padding:5px 8px; text-align:left; font-size:14px; font-weight:bold; color:#000; border:1px solid #d6d6d6; border-top:0 }
.type04 td .num { float:right; text-align:right; font-weight:normal; line-height:20px; font-weight:bold; color:#284893; }
.type04 td b { font-size:17px;  }



/*** 테이블 - 모든칸에 라인 / 왼쪽정렬 / 볼드체 /  th에 색상***/
.type05 { border-top:2px solid #284893; }
.type05 table { width:100%; }
.type05 th { font-family:'NGB'; color:#202020; font-size:15px;  background-color:#f7f7f7; border-bottom:1px solid #d6d6d6; }
.type05 td { height:20px; padding:10px 20px; text-align:left; font-size:14px; font-family:'NGB'; color:#707070; border-left:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6; }
.type05 td .num { float:right; display:inline-block; width:300px; text-align:right; font-size:20px; color:#284893; }



/*** 페이징 ***/
#paging_span { margin-top:10px; text-align:center; }
#paging_span span { display:inline-block; min-width:13px; padding:0 3px; color:#585657; line-height:23px; border:1px solid #d0d0d0; }
#paging_span span.now { color:#fff; background-color:#284893; border-color:#284893; }
#paging_span span.arrow { margin:0; padding:0; border:0; line-height:25px; }
#paging_span span > img { width:25px; }

#paging { margin-top:15px; text-align:center; }
#paging a.arrow { padding:0; border:0; line-height:0; }
#paging a.arrow img { width:28px; }
#paging a { display:inline-block; min-width:16px; padding:0 5px; font-size:14px; color:#585657; line-height:26px; border:1px solid #d0d0d0; vertical-align:middle; }
#paging a.now { color:#fff; background-color:#284893; border-color:#284893; }
#paging span { display:inline-block; margin:0 15px; }

.paging { margin-top:15px;  text-align:center; }
.paging a { display:inline-block; min-width:16px; padding:0 5px; font-size:14px; color:#585657; line-height:26px; border:1px solid #d0d0d0; vertical-align:middle; }
.paging a.arrow { padding:0; border:0; line-height:0; }
.paging a.arrow img { width:28px; }
.paging a.now { color:#fff; background-color:#284893; border-color:#284893; }
.paging span { display:inline-block; margin:0 15px; }



/*** 공지사항 ***/
.type01 table.notice { table-layout: fixed; }
.type01 table.notice.list td { padding:10px 0; background:url('/theme/blueman1/img2/bbs/arrow_right.gif') no-repeat right center; background-size:12px auto; }
.type01 table.notice th,
.type01 table.notice td { height:auto; }
.type01 table.notice td { padding:10px; }
.type01 table.notice td.con { padding:20px 15px; line-height:20px; font-size:13px; color:#707070; }
.type01 table.notice .no { padding-right:15px; text-align:center; font-size:16px; color:#333; }
.type01 table.notice .subject { margin:0 20px 5px 0; font-size:15px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.type01 table.notice .date { display:inline-block; margin-right:10px; padding-left:18px; font-size:12px; color:#707070; background:url('/theme/blueman1/img2/bbs/icon_date.gif') no-repeat left center; background-size:14px auto; }
.type01 table.notice .hit { display:inline-block; padding-left:18px; font-size:12px; color:#707070; background:url('/theme/blueman1/img2/bbs/icon_hit.gif') no-repeat left center; background-size:14px auto; }

/*** 테이블 - 여백많음 ***/
.type02 { border-top:2px solid #284893; }
.type02 table { width:100%; }
.type02 th,
.type02 td { padding:10px 0; text-align:left; font-size:12px; color:#707070;  border-bottom:1px solid #ddd; }
.type02 th { width:80px; font-family:'NGB'; color:#202020; vertical-align:top; }
.type02 td input { vertical-align:middle; }

.preList { margin-top:15px; border-top:1px solid #d6d6d6; }
.preList li { position:relative; padding-left:94px; font-size:14px; color:#707070; line-height:36px; border-bottom:1px solid #d6d6d6; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.preList li a { color:#707070; }
.preList li .prev,
.preList li .next { position:absolute; left:0; top:0; padding:0 30px 0 5px; color:#202020;  line-height:36px; border-right:1px solid #d6d6d6; }
.preList li .prev { background:#f9f9f9 url('/theme/blueman1/img2/bbs/arrow_updown.gif') no-repeat 42px -3px; }
.preList li .next { background:#f9f9f9 url('/theme/blueman1/img2/bbs/arrow_updown.gif') no-repeat 42px -43px; }

/*** FAQ ***/
#content .tab_type02 { margin-bottom:20px; overflow:hidden; }
#content .tab_type02 li { float:left; width:32.6%; margin-left:1.1%; line-height:32px; color:#fff; font-size:15px; text-indent:20px; background:url('/theme/blueman1/img2/member/tab_join.gif') no-repeat -412px top; background-size:auto 100%; cursor:pointer; }
#content .tab_type02 li.on { background-position:left top; }
#content .tab_type02 li:first-child { margin-left:0; }

#content .FAQ dl { margin-bottom:10px; background:url('/theme/blueman1/img2/bbs/arrow_down.gif') no-repeat right 1px; background-size:25px auto; border-radius:10px; border:1px solid #dfdfdf; overflow:hidden; }
#content .FAQ dl dt { padding:9px 20px 8px 40px; font-size:14px; font-weight:bold; line-height:22px; background:url('/theme/blueman1/img2/bbs/icon_q.gif') no-repeat 8px 7px; background-size:26px auto; cursor:pointer; }
#content .FAQ dl dd { display:none; padding:9px 20px 8px 40px; font-size:14px; line-height:22px; color:#707070; background:#fafafa url('/theme/blueman1/img2/bbs/icon_a.gif') no-repeat 8px 7px; background-size:26px auto; border-top:1px solid #dfdfdf;  }

#content .list_info {margin:30px 0 10px 0;padding-top:10px;clear:both;}
#content .list_info p {font-family:'NGB';color:#4a6fe2;font-size:16px;text-align:center;padding-top:10px;}
#content .list_info p:last-child {color:#3a3a3a;text-align:center;font-size:14px;}

#content .review_list { display:none;}
#content .review_list dl { margin-bottom:10px; background:url('/images/bbs/arrow_down.gif') no-repeat right top; border-radius:10px; border:1px solid #dfdfdf; overflow:hidden; }
#content .review_list dl dt { padding:0 20px 0 10px; font-size:14px; font-family:'NGB'; line-height:48px; cursor:pointer; }
#content .review_list dl dd { display:none; padding:13px 20px 15px 10px; font-size:14px; line-height:25px; color:#707070; border-top:1px solid #dfdfdf;  }

/*** 제휴문의 ***/
.greeting { margin:15px 0; text-align:center; font-size:14px; font-weight:bold;  color:#303030; }

/*** 대출내역 ***/
#content .loan .info { padding:30px; margin-bottom:50px; font-size:14px; line-height:22px; color:#707070;  background:url('/theme/blueman1/img2/member/hello_bg.gif') no-repeat left top; border:3px solid #f1f3f5; border-top:0; }
#content .loan .info .title { margin:5px 0 10px 0; font-size:20px; color:#202020; font-weight:bold; }
.loan .box { padding:40px; font-size:14px; color:#707070; line-height:22px; border:1px solid #dedede; letter-spacing:-.5px; }

/*** 투자하기 ***/
#content .simulation { padding:20px; margin-bottom:10px; line-height:22px; text-align:center; font-size:14px; font-weight:bold; color:#202020; background:url('/theme/blueman1/img2/member/hello_bg.gif') no-repeat left top; border:3px solid #f1f3f5; border-top:0; }
#content .simulation .title {  font-size:17px; }
#content .simulation .price { position:relative; display:inline-block; width:70%; line-height:34px;  }
#content .simulation .price .price-label { position: absolute; top:2px; left:15px; display:block; text-align:left; font-size:15px; color:#000;  }
#content .simulation input.text { height:34px; padding:0 15px; }
#content .simulation .btn_blue { min-width:50px; border-radius:3px; vertical-align:middle; }
#content .simulation .price input.text { width: 80%; }

/* 수익 계산 테이블 */
.type03.profit th,
.type03.profit td { height:20px; padding:7px 10px; text-align:left; font-size:14px; border-right:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6; }
.type03.profit th:last-child,
.type03.profit td:last-child { border-right:0; }
.type03.profit tbody td { width:16.6%; vertical-align:bottom; color:#707070; line-height:24px; white-space:pre; }
.type03.profit tfoot td { color:#707070; background-color:#f5f5f5; }
.type03.profit tbody tr:last-child th,
.type03.profit tbody tr:last-child td,
.type03.profit tfoot tr:last-child th,
.type03.profit tfoot tr:last-child td { border-bottom:1px solid #707580; }

/* 시뮬레이션 표 */
#simul_table th{ font-size:12px; padding:3px; }
#simul_table td{ font-size:12px; padding:3px; }


/* 설명 */
.explain { margin:10px 0; font-size:14px; line-height:20px; color:#707070; }
.profit_guide { margin-bottom:20px; line-height:113px; text-align:center; font-size:14px; color:#000;  background-color:#f5f5f5; border:1px solid #dadada; }

.investment img { max-width:100%; }
.investment .date { margin-bottom:5px; font-size:14px; color:#fff; text-align:center; background-color:#216FA6; display:block; }
.investment h3 { line-height:30px; }
.investment h3 .price { position:absolute; right:0; font-size:18px; color:#284893; }
.investment h3 .small { font-size:15px; }
.investment h3 .normal { font-weight:normal;  }

.investment .product_img { position:relative; }
.investment .product_img .label { position:absolute; right:10px; top:0; width:30px; }

.investment .type04 { border-top:1px solid #d6d6d6; border-right:1px solid #d6d6d6; }
.investment .type04 td .icon_price { padding:3px 0 3px 18px; background:url('/theme/blueman1/img2/investment/icon_price.gif') no-repeat left center; background-size:14px auto; }
.investment .type04 td .icon_time { padding:3px 0 3px 18px; background:url('/theme/blueman1/img2/investment/icon_time.gif') no-repeat left center; background-size:14px auto; }

.investment .rate { position:relative; height:8px; margin-bottom:50px; background-color:#ccc; }
.investment .rate img { height:8px; vertical-align:top; }
.investment .rate:before { content:"0%"; position:absolute; left:0; bottom:-25px; font-size:18px; color:#4a6fe2; font-weight:bold; }
.investment .rate .percent { position:absolute; right:0; bottom:-25px; font-size:18px; color:#4a6fe2;  }

.investment .profit_title { margin:10px 0 10px 0; border:1px solid #dedede; }
.investment .profit_title dt { font-size:15px; color:#202020; line-height:34px; font-family:"NGB"; text-align:center; background-color:#ededed; border-bottom:1px solid #dedede; }
.investment .profit_title dd { padding:10px 6px; font-size:14px; color:#707070; line-height:20px; }

.investment .level { position:relative; margin:20px 0; *zoom:1;  background:url('/theme/blueman1/img2/investment/level.jpg') no-repeat; background-size:100% 100%;}
.investment .level:after { content:""; display:block; clear:both; }
.investment .level > div { position:relative; float:left; width:6.65%; height:17px;text-align:center;font-weight: bold; color: #fff;}
.investment .level > div:before { position:absolute; left:0; bottom:-17px; display:block; width:100%; font-size:10px; color:#707070; text-align:center; word-spacing:0px; }

.investment .level .site { position:absolute; top:-16px; z-index:10; width:16px; }

.investment .level_info { height:104px; margin:10px 0 30px; border:1px solid #dedede; overflow:hidden; }
.investment .level_info .label { float:left; width:30%; height:100%; background-color:#ededed; border-right:1px solid #dedede; }
.investment .level_info .label img { width:60px; margin:16px 0 0 22%; }

/**추가 2017.01.03**/
.investment .level_info .invest_graph {margin-left:32.5%;width:65%;padding-top:7px;}
.investment .level_info .invest_graph .invest_graph_bg {border-top:1px solid #f5f5f5;background-image: linear-gradient(to bottom,#ebebeb 0,#f5f5f5 100%);height:22px;overflow: hidden;
											background-color: #f5f5f5;
											border-radius:4px;background-repeat:repeat-x;margin:5px 0 0 0;box-shadow: inset 1px 1px #ccc;}
.investment .level_info .invest_graph .invest_graph_bg .invest_graph_rate {padding:3px 0 0 3px;width:50%;background-image:linear-gradient(to bottom,#f0ad4e 0,#ec971f 100%);
											background-repeat: repeat-x;
											height:18px;overflow: hidden;color:#fff;box-shadow: 0px 1px 0px #c9811b;}
/**추가 2017.01.03**/

.investment .level_info .info .star1 { background:url('/theme/blueman1/img2/investment/star.gif') no-repeat -64px top; }
.investment .level_info .info .star2 { background:url('/theme/blueman1/img2/investment/star.gif') no-repeat -48px top; }
.investment .level_info .info .star3 { background:url('/theme/blueman1/img2/investment/star.gif') no-repeat -32px top; }
.investment .level_info .info .star4 { background:url('/theme/blueman1/img2/investment/star.gif') no-repeat -16px top; }
.investment .level_info .info .star5 { background:url('/theme/blueman1/img2/investment/star.gif') no-repeat left top; }

.investment .point { min-height:100px; margin-bottom:30px; padding:10px 6px; border:1px solid #dedede; }
.investment .boxArea { margin-bottom:30px; overflow:hidden; }
.investment .boxArea .box { float:left; }
.investment .boxArea .box .con { position:relative; border:1px solid #dedede; }
.investment .boxArea .box .con_dot { border:1px dotted #dedede; }

.investment .invest_info { padding:10px 6px; margin-bottom:30px;  border:1px solid #dfdfdf; overflow:hidden; }
.investment .invest_info .title { margin-bottom:5px; font-size:15px; color:#202020; font-weight:bold;  }
.investment .invest_info .table { width:100%; margin-bottom:20px; border-right:1px dotted #dfdfdf; }
.investment .invest_info .table table { width:100%; border-top:2px solid #2d2d2d; }
.investment .invest_info .table table th,
.investment .invest_info .table table td { padding:7px 0; font-size:14px; text-align:center; }
.investment .invest_info .table table th:first-child,
.investment .invest_info .table table td:first-child { border-right:1px solid #dfdfdf; }
.investment .invest_info .table th { color:#303030; font-weight:bold; background-color:#f7f7f7; border-bottom:1px solid #707580;  }
.investment .invest_info .table td { color:#707070; border-bottom:1px solid #dedede;  }
.investment .invest_info .notes .text { margin-bottom:15px; font-size:14px; line-height:22px; color:#707070; }
.investment .detail_info .detail_cont .detail_btn a { margin-bottom:4px; }

.investment .tab_type03 { overflow:hidden; }
.investment .tab_type03 li { float:left; width:49.3%; margin:.6% 0; line-height:30px; text-align:center; font-size:14px; color:#888888; background-color:#ddd; border-radius:3px; cursor:pointer; box-sizing:border-box; }
.investment .tab_type03 li.on { color:#ffffff; background-color:#4C8BF5; font-weight:bold; }
.investment .tab_type03 li:nth-child(2),
.investment .tab_type03 li:nth-child(5) { margin:.6%; }
.investment .tabArea { display:none; }


/* 투자하기 실행*/
.invest_detail h2.big { font-size:25px !important; text-align:center; }
.invest_detail .rate { position:relative; height:8px; margin-bottom:30px; background-color:#ccc; }
.invest_detail .rate img { height:8px; vertical-align:top; }
.invest_detail .rate .percent { position:absolute; left:0; bottom:-25px; font-size:18px; color:#4a6fe2; }
.invest_detail .rate .percent02 { position:absolute; right:0; bottom:-25px; font-size:18px; color:#4a6fe2; }

.invest_detail .my_invest { position:relative; padding:15px; margin-bottom:30px; line-height:22px; font-size:14px; color:#202020; background:url('/theme/blueman1/img2/member/hello_bg.gif') no-repeat left top; border:3px solid #f1f3f5; border-top:0; }
.invest_detail .my_invest .price2 .num { color:#284893; }
.invest_detail .my_invest input.text { width:120px; height:31px; margin-left:12px; padding:0 15px; font-size:16px; line-height:33px; }

.invest_detail .box { height:100px; margin-bottom:30px; border:1px solid #dedede; overflow:hidden; }
.invest_detail .textarea .agree { text-align:center; font-size:13px; color:#717171; }
.invest_detail .textarea .agree label { margin-left:15px; }
.invest_detail .textarea .agree input { vertical-align:middle; }


/* 투자하기  리스트 v2 */
.invest_list2 .list_info { margin-bottom:30px; text-align:center; font-size:16px; color:#202020; }

.invest_list2 .advantage { margin-bottom:30px; padding:30px; font-size:30px; text-align:center; color:#fff; background-color:#ccc; }

.invest_list2 .tab_type03 { overflow:hidden; }
.invest_list2 .tab_type03 li { float:left; width:32.2%; margin:0.6% 0; line-height:30px; text-align:center; font-size:14px; color:#202020; background-color:#f7f7f7; border:1px solid #e5e5e5; border-radius:3px; cursor:pointer; box-sizing:border-box; }
.invest_list2 .tab_type03 li.on { border:1px solid #ccc; background-color:#fff; border-radius:3px; }
.invest_list2 .tab_type03 li:nth-child(2),
.invest_list2 .tab_type03 li:nth-child(5) { margin:0.6%; }

.invest_list2 .boxArea { display:block; overflow:hidden; }
.invest_list2 .boxArea .box { width:100%; margin:20px 0 0 0; }
.invest_list2 .boxArea .box .imgArea { position:relative; width:99.4%; height:220px; background-color:#FAFAFA; border:1px solid #CCC; cursor:pointer; overflow:hidden; }
.invest_list2 .boxArea .box .imgArea .main_image { position:absolute; width:100%; height:100%; overflow:hidden; }
.invest_list2 .boxArea .box .imgArea .cover { position:absolute; z-index:1; width:100%; height:100%; display:inline-block; background:#000; opacity:0.4; }
.invest_list2 .boxArea .box .imgArea .cover_text { position:relative; z-index:2; margin:75px auto; width:250px; padding-top:10px; padding-bottom:10px; text-align:center; font-family:'NGB'; font-size:25pt; color:#fff; border:4px solid #fff; }
.invest_list2 .boxArea .box .imgArea .detail_state { position:relative; z-index:2; margin:-50px auto; padding-top:2px; width:100px; background-color:gold; text-align:center; font-size:11px; line-height:18px; color:#000; border-radius:10px; }
.invest_list2 .boxArea .box .imgArea .label { position:absolute; z-index:3; right:10px; top:0; width:50px; }
.invest_list2 .boxArea .box .imgArea .btn_more { position:absolute; z-index:3; right:0; bottom:0; display:inline-block; width:78px; line-height:31px; color:#fff; font-size:14px; text-align:center; background-color:#4a6fe2; }
.invest_list2 .boxArea .box .imgArea .flag_green  { position:absolute; z-index:3; left:6px;top:6px;  width:90px;height:20px; background:#DC2F43; font-size:12px; line-height:20px; color:#FFF; text-align:center; border-radius:3px; border:1px solid #980000; }
.invest_list2 .boxArea .box .imgArea .flag_orange { position:absolute; z-index:3; left:6px;top:34px; width:90px;height:20px; background:#FF7419; font-size:12px; line-height:20px; color:#FFF; text-align:center; border-radius:3px; border:1px solid #F15F5F; }

.invest_list2 .boxArea .box .con { padding-top:10px; border-top:0; font-family:'NG'; display:inline-block; width:100%; }
.invest_list2 .boxArea .box .con .title  {font-size:20px;font-family:'NGB';padding:10px 0 10px 0;}
.invest_list2 .boxArea .box .con .subtext  { height:22px; font-size:11pt; line-height:22px; font-family:'NGB';color:#3453a8; text-align:right; padding-right:8px }

.invest_list2 .boxArea .box .con .info { margin:8px auto; display:inline-block; width:100%; }
.invest_list2 .boxArea .box .con .info li { float:left; margin-right:0.7%; margin-bottom:3px; width:48.8%;height:64px; text-align:center; border:1px solid #d3d3d3; }
.invest_list2 .boxArea .box .con .info li.right_end { margin-right:0px; }
.invest_list2 .boxArea .box .con .info li.bottom_end { margin-bottom:0px; }
.invest_list2 .boxArea .box .con .info li .subject { font-size:14px;margin-top:10px;font-family:'NGB'; }
.invest_list2 .boxArea .box .con .info li .value { font-size:20px;margin-top:5px;color:#3453a8;font-family:'NGB'; }

.invest_list2 .boxArea .box .con .progress { margin:0; }
.invest_list2 .boxArea .box .con .progress li { position:relative; font-size:16px;font-family:'NGB';}
.invest_list2 .boxArea .box .con .progress li b { position:absolute; right:0; font-size:20px; color:#3453a8;font-family:'NGB'; }
.invest_list2 .boxArea .box .con .progress li .rate { position:relative; line-height:8px; margin:4px 0 20px; background-color:#DDDDDD; }
.invest_list2 .boxArea .box .con .progress li .rate img { margin:0; height:8px; }

.invest_list2 .btn_big_link  { width:99.4%; }
.invest_list2 .btn_big_blue  { width:99.4%; }
.invest_list2 .btn_big_green { width:99.4%; }
.invest_list2 .btn_big_gray  { width:99.4%; }

.invest_list2 .boxArea .box_end { width:100%; height:0px; margin:30px auto 30px; border-top:1px solid #cccccc; border-bottom:1px solid #FAFAFA; }


/* 투자가 처음이신가요? */
#content .content .tab_type01 > li:first-child{	font-size: 14px; }
#content .content .tab_type01 > li:first-child > a{	font-size: 14px; }


/* 활동 내역 */
/*** 예치금내역 ***/
.deposit .info { position:relative; padding:15px; margin-bottom:30px; font-size:13px; line-height:18px; color:#707070;  background:url('/theme/blueman1/img2/member/hello_bg.gif') no-repeat left top; background-size:auto 2px; border:2px solid #f1f3f5; border-top:0; }
.deposit .info #withdrawal { position:absolute; right:15px; top:15px; height:24px; font-size:12px; line-height:24px; }
.deposit .info .title { margin:5px 0 10px 0; font-size:16px; color:#202020; font-weight:bold; }
.deposit .info .btnArea a { width:49%; box-sizing:border-box; }
.deposit .info .btnArea a:last-child { margin-left:2%; }
.deposit .small .btn_blue { min-width:50px; height:28px; line-height:28px; border-radius:3px; }
.deposit .box { padding:15px; margin-bottom:40px; font-size:14px; color:#707070; line-height:20px; border:1px solid #dedede; letter-spacing:-.5px; }

.deposit .tab_type03 { overflow:hidden; }
.deposit .tab_type03 li { float:left; width:24.6%; height:30px; margin:0 0.1% 6px; text-align:center; vertical-align:middle; font-size:12px; color:#A0A0A0; background-color:#f7f7f7; border:1px solid #e5e5e5; cursor:pointer; box-sizing:border-box; }
.deposit .tab_type03 li.on { border:1px solid #ccc; background-color:#fff; color:#202020; }

.deposit .boxArea { display:none; overflow:hidden; }
.deposit .boxArea .box { margin:0; }
.deposit .boxArea .imgArea { position:relative; height:160px; overflow:hidden; background-color:#DDD; border-top:1px solid #CACACA; border-left:1px solid #CACACA; border-right:1px solid #CACACA; }
.deposit .boxArea .imgArea img { width:100%; }
.deposit .boxArea .imgArea .label { position:absolute; right:10px; top:0; width:38px; }
.deposit .boxArea .imgArea .btn_more { position:absolute; right:0; bottom:0; display:inline-block; width:58px; line-height:28px; color:#fff; font-size:12px; text-align:center; background-color:#4a6fe2; }
.deposit .boxArea .imgArea .flag_green  { position:absolute; z-index:2; left:10px;top:10px;width:80px; background:#fff;border:1px solid green;border-radius:2px; padding:1px; font-size:11px;font-weight:bold;color:green;text-align:center; }
.deposit .boxArea .imgArea .flag_orange { position:absolute; z-index:2; left:10px;top:30px;width:80px; background:#fff;border:1px solid #FF6600;border-radius:2px; padding:1px; font-size:11px;font-weight:bold;color:#FF6600;text-align:center; }

.deposit .boxArea .con { padding:20px; border:1px solid #cacaca; border-top:0; }
.deposit .boxArea .title { font-size:13px; color:#707070; }
.deposit .boxArea .title b { display:block; margin-bottom:5px; font-size:16px; color:#202020;  font-weight:bold; }
.deposit .boxArea .info { margin:5px 0 10px 0; }
.deposit .boxArea .info li { position:relative; line-height:32px; color:#202020; font-size:14px; border-bottom:1px solid #d9d9d9; }
.deposit .boxArea .info li b { position:absolute; right:0; color:#333; }
.deposit .boxArea .rate { position:relative; height:8px; margin-bottom:10px; }
.deposit .boxArea .rate img { height:8px; vertical-align:top; }
.deposit .boxArea a { width:45%; }
.deposit .boxArea a:last-child { margin-left:2%; }

.deposit .boxArea ul.tmp1 { margin:10px 12px 10px 12px; }
.deposit .boxArea ul.tmp1 > li { list-style-type:disc; font-size:9pt; }
.deposit .boxArea ul.tmp2 { margin:0 10px 0 10px; }
.deposit .boxArea ul.tmp2 > li { list-style-type:disc; font-size:9pt; }

/* 가상계좌정보 */
#table_deposit_bankinfo th{ font-size:13px; padding:3px; }
#table_deposit_bankinfo td{ font-size:13px; padding:3px; }

/* 예치금 현황 */
.deposit_state th{ font-size:12px; padding:3px; }
.deposit_state td{ font-size:12px; padding:1px; }

/* 예치금 출금 */
#table_withdraw td b{ font-size:13px; padding:1px; }
#table_withdraw td{ font-size:13px; padding:3px; }
.type01 td input#req_price { width:90%; }

/* 투자현황 */
.table_invest_state th{ font-size:13px; padding:3px; }
.table_invest_state td{ font-size:12px; padding:3px; }

/* 투자내역 상세보기 팝업 */
.table_procuct_detail th{ font-size:13px; padding:3px; }
.table_procuct_detail td{ font-size:12px; padding:3px; }

/* 메인 로고 */
.main_logo { width:82px; height:24px; margin-left:8px;  }

/* 상단로그인아웃버튼 */
#top_login { position:absolute; z-index:202; float:right; top:15px; right:10px; width:48px; padding:1px 0 1px 0; text-align:center; font-size:11px;font-weight:bold; border-radius:2px; }
#top_login.btn_login  { border:1px solid #fff; color:#fff; }
#top_login.btn_logout { border:1px solid #ccc; color:#ccc; }


#prdtwrap { position:relative; width:100%; margin:0 auto 0; padding-top:10px; background-color:#EEEEEE; }
#prdtwrap .xprdt_title_image { margin:0 auto; width:98%; height:40; overflow:hidden; }
#prdtwrap .xlistwrap { }
#prdtwrap .xcontentwrap { padding:8px; }
#prdtwrap .ximage_area { position:relative; width:100%; height:170px; background-color:#CCCCCC; border-top:1px solid #CACACA; border-left:1px solid #CACACA; border-right:1px solid #CACACA; }
#prdtwrap .ximage_area .main_image { position:absolute; width:100%; height:100%; overflow:hidden; }
#prdtwrap .ximage_area .btn_more { position:absolute; z-index:3; right:0; bottom:0; display:inline-block; width:58px; line-height:28px; color:#fff; font-size:12px; text-align:center; background-color:#4a6fe2; }
#prdtwrap .ximage_area .flag_green  { position:absolute; z-index:3; left:10px;top:10px;width:80px; background:#fff;border:1px solid green;  border-radius:2px; padding:1px; font-size:11px;font-weight:bold;color:green;  text-align:center; }
#prdtwrap .ximage_area .flag_orange { position:absolute; z-index:3; left:10px;top:30px;width:80px; background:#fff;border:1px solid #FF6600;border-radius:2px; padding:1px; font-size:11px;font-weight:bold;color:#FF6600;text-align:center; }

#prdtwrap .xtext_area { width:96%; padding:2%; border:1px solid #CCC; background-color:#FFFFFF; }
#prdtwrap .xtext_area .xtitle_text1 { width:100%; line-height:20px; font-size:14pt; color:#222; font-weight:bold; margin-bottom:4px; }
#prdtwrap .xtext_area .xtitle_text2 { padding-left:10px; height:24px; line-height:24px; font-size:11pt; color:#5473E3; text-align:left; }
#prdtwrap .xtext_area li              { height:30px; line-height:30px; font-size:11pt; padding:0 10px 0 10px; }
#prdtwrap .xtext_area li.xtext        { height:30px; line-height:30px; font-size:11pt; padding:0 10px 0 10px; border-bottom:1px dotted #CCC; }
#prdtwrap .xtext_area li > .xval      { float:right; font-weight:bold; }
#prdtwrap .xrate { width:100%; height:12px; background-color:#ccc;line-height:0;}
#prdtwrap .xbutton_area { width:100%; height:35px; margin-top:8px; }
#prdtwrap .xbtn_blue { margin:0 auto; display:inline-block; width:99.8%; line-height:35px; text-align:center; font-size:12pt; font-weight:bold; color:#FFFFFF; border-radius:4px; background-color:#284893; border:1px solid #284893; cursor:pointer; }
#prdtwrap .xbtn_blue:hover { background-color:#0592EB; },
#prdtwrap .xbtn_blue:active,
#prdtwrap .xbtn_blue:link,
#prdtwrap .xbtn_blue:visited { color:#fff; }


/* 인기상품 리스트 */
.open_tit{position:absolute;bottom:0;height:44px;width:100%;background: rgba(0, 0, 0, 0.5);z-index:700;font-size:14px;font-family:'NGB';color:#fff;text-align:center;line-height:46px;}
.open_tit img {width:21px;}
.detail_info {float:right;width:99%;border:1px solid #ccc;position:relative;}
.detail_info .detail_cont {width:95%;padding:0 10px;}
.detail_info .detail_cont .detail_tit {font-size:20px;font-family:'NGB';padding:20px 0 10px 0;}
.detail_info .detail_cont .detail_btn {width:100%;text-align:center;padding:27px 0;}
.detail_btn .btn_big_link  { width:140px; }
.detail_btn .btn_big_green { width:140px; }
.detail_btn .btn_big_blue  { width:140px; }

.detail_info .detail_cont .detail_table li{float:left;border:1px solid #d3d3d3;width:48%;height:64px;margin:0 5px 5px 0;text-align:center;}
.detail_info .detail_cont .detail_table li:last-child {float:left;border:1px solid #d3d3d3;width:48%;height:64px;margin:0 0 5px 0;text-align:center;}
.detail_info .detail_cont .detail_table li p {font-size:14px;margin-top:10px;font-family:'NGB';}
.detail_info .detail_cont .detail_table li p:last-child {font-size:20px;margin-top:5px;color:#3453a8;font-family:'NGB';}

.detail_info .detail_cont .detail_progress {width:99%;clear:both;padding-top:6px;}
.detail_info .detail_cont .detail_progress .prog_tit1 {float:left;font-size:16px;font-family:'NGB';}
.detail_info .detail_cont .detail_progress .prog_tit2 {float:right;font-size:20px;color:#3453a8;font-family:'NGB';}
.detail_info .detail_cont .detail_progress .rate2 {clear:both; height:8px; line-height:8px; padding:0; background-color:#ccc; }
.detail_info .detail_cont .detail_progress .rate2 img { margin:0; height:8px; }


.detail_info .detail_guide {font-size:12px;border-top:1px solid #cccccc;font-family:'NGB';}
.detail_info .detail_guide .guide1 {float:left;width:50%;height:36px;background:url('/images/investment/detail_icon01_m.png') no-repeat center left;background-size:20px;background-position:16px 22px;background-color:#f2f2f2;padding-top:25px;}
.detail_info .detail_guide .guide2 {float:left;border-left:1px solid #cccccc;width:49%;height:36px;background:url('/images/investment/detail_icon02_m.png') no-repeat center left;background-size:18px;background-position:16px 23px;background-color:#f2f2f2;padding-top:25px;}
.detail_info .detail_guide .guide1:active {background:url('/images/investment/detail_icon01_m.png') no-repeat center left;background-position:16px 22px;background-color:#4a6fe2;color:#fff;cursor:pointer;}
.detail_info .detail_guide .guide2:active {background:url('/images/investment/detail_icon02_m.png') no-repeat center left;background-position:16px 23px;background-color:#4a6fe2;color:#fff;cursor:pointer;}

