@charset "utf-8";
/* CSS Document */



/********************************배치 스케줄 관리*******************************************/

		
.wrapper .content-page .container-fluid .system-schedule {padding:0 30px;}	
.wrapper .content-page .container-fluid .system-schedule .search_button {text-align: center; margin-top:10px;}
.wrapper .content-page .container-fluid .system-schedule table {border-top:1px solid #888; margin-top:20px; border-spacing: 0; width:100%;}	
.wrapper .content-page .container-fluid .system-schedule table tr td{border-bottom: 1px solid #ddd; height: 50px; }
.wrapper .content-page .container-fluid .system-schedule table tr td:first-child {background-color: #f6f6f6; text-align: left; color:#222; font-size:.8rem; white-space: nowrap; padding:0 2rem 0 1rem; width:150px;}		
		
/*검색어*/
.wrapper .content-page .container-fluid .system-schedule .word-search .word-search-wrap{display:flex; padding-left:10px; margin:0;}
.wrapper .content-page .container-fluid .system-schedule .word-search .word-search-wrap .custom-select {width:180px;}	
.wrapper .content-page .container-fluid .system-schedule .word-search .word-search-wrap .input-group {width:300px; margin-left:.5rem; }	


/*관리버튼*/
.wrapper .content-page .container-fluid .system-schedule .basic-bt {margin-left:10px;}

		
		
/*테이블 체크박스*/		
.wrapper .content-page .container-fluid .date-list {padding:30px;}			
.wrapper .content-page .container-fluid .date-list .table-checkbox > .row {margin-top:100px; margin-bottom: 10px; border-bottom: 1px solid #888;  padding-bottom: 5px;}
.wrapper .content-page .container-fluid .date-list .table-checkbox .form-group {margin-bottom: 0; display: flex; white-space: nowrap; flex-wrap: wrap; align-items: center;}

		
/*데이터테이블 검색창 삭제*/
.wrapper div.dataTables_wrapper div.dataTables_filter {display: none;}

/*위아래 정렬 화살표 삭제*/
.wrapper table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc_disabled:before {display: none;}
.wrapper table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc_disabled:after {display: none;}

/*테이블 상단 버튼 파트*/
.wrapper .content-page .container-fluid .date-list {padding:30px 30px;}
.wrapper .content-page .container-fluid .date-list .table-top-bt {width:100%; display:flex; justify-content: flex-end; padding:10px 0 0; font-size:.8rem; color:#555;}
.wrapper .content-page .container-fluid .date-list .action_button button {border: none; background: none; padding: 0;}
.wrapper .content-page .container-fluid .date-list .action_button .basic-bt img {margin-right:5px; padding-bottom:3px;}
.wrapper .content-page .container-fluid .date-list .dataTables_length {display: flex; padding-left:5px;}
.wrapper .content-page .container-fluid .date-list .dataTables_length label {margin-left: auto;}

		
/*테이블*/
.wrapper .col-sm-12 {padding:0;}
.wrapper .col-md-5, .wrapper .col-md-7{max-width: 100%; flex:0 0 100%;}

.wrapper .content-page .container-fluid .date-list table {width: 100% !important; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.wrapper .content-page .container-fluid .date-list table th {border-top:1px solid #ddd; border-bottom:1px solid #222; border-right:1px solid #ddd; padding:0 .5rem; height: 40px; line-height: 40px; text-align: center; font-size:.7rem; color:#222; background-color: #fafafc; vertical-align: middle;}
.wrapper .content-page .container-fluid .date-list table td {border-right:1px solid #ddd; text-align: center; font-size:.75rem; color:#222; height: 40px; padding:0 .5rem;  line-height: 40px; }
.wrapper .content-page .container-fluid .date-list table .basic-bt {line-height:calc(1.3rem);}
.wrapper .content-page .container-fluid .date-list table .left {text-align:left;}
.wrapper .content-page .container-fluid .date-list table .right{text-align:right;}
.wrapper .content-page .container-fluid .date-list table .basic-btn {display: inline-block; margin: 0 0.2rem; height: calc(1.4rem); font-weight: 400; color: #555; text-align: center; vertical-align: middle;  user-select: none; font-size: .8rem; border-radius: 0.15rem; border: 1px solid #555; background-color: #fff;  box-shadow: none; line-height: calc(1.2rem);}
.wrapper .content-page .container-fluid .date-list table .red-basic-btn {display: inline-block; margin: 0 0.2rem; height: calc(1.4rem); font-weight: 400; color: #ee321f; text-align: center; vertical-align: middle;  user-select: none; font-size: .8rem; border-radius: 0.15rem; border: 1px solid #ee321f; background-color: #fff;  box-shadow: none; line-height: calc(1.2rem);}
		
		
/*테이블 펼침 내역파트*/
.wrapper table.dataTable > tbody > tr.child ul.dtr-details {width:100%;}
.wrapper table.dataTable > tbody > tr.child ul.dtr-details > li {padding:0; height: 40px; font-size:.75rem; display: flex;}
.wrapper table.dataTable > tbody > tr.child ul.dtr-details > li .dtr-data button {margin-left: 0.5rem;}
.wrapper table.dataTable > tbody > tr.child span {display:inline-block!important;}
.wrapper table.dataTable > tbody > tr.child span:first-child {text-align:left; width:30%; line-height: 40px; padding-left:10px;}
.wrapper table.dataTable > tbody > tr.child span:last-child {text-align:right; width:70%; line-height: 40px; overflow:hidden; text-overflow:ellipsis; padding-right:10px;}

/*하단 갯수 및 페이징*/
.wrapper div.dataTables_wrapper div.dataTables_info {font-size:.8rem; color:#555; padding:0; margin:0; text-align: left;}
.wrapper div.dataTables_wrapper div.dataTables_paginate ul.pagination {justify-content: center!important; font-size:.8rem;}
.wrapper .page-item.active .page-link {background-color: #555; border-color:#555;}


/*데이터테이블 검색창 삭제*/
.wrapper div.dataTables_wrapper div.dataTables_filter {display: none;}

/*위아래 정렬 화살표 삭제*/
.wrapper table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc_disabled:before {display: none;}
.wrapper table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc_disabled:after {display: none;}

/*테이블 가로 스크롤*/
.wrapper .table-scroll  {width:100%; white-space: nowrap; }

/* 데이터테이블 a 태그 커서모양 */
.wrapper .content-page .container-fluid .date-list table td a {cursor:pointer;}

/* 마우스호버 백그라운드색깔 */
.wrapper .content-page .container-fluid table.dataTable tbody tr:hover {background-color: #f3f3f3;}
		
		
		


@media (max-width:900px){
.wrapper .content-page .container-fluid .system-schedule {padding:0;}
.wrapper .content-page .container-fluid .system-schedule table {border-top: none; margin-top:0;}	
.wrapper .content-page .container-fluid .system-schedule table tr td{border-bottom: none; height:0;}	
.wrapper .content-page .container-fluid .system-schedule table tr td:first-child {display:none;}
	
	
/*검색어*/	
.wrapper .content-page .container-fluid .system-schedule .word-search .word-search-wrap {padding-left:0;}
.wrapper .content-page .container-fluid .system-schedule .word-search .word-search-wrap .custom-select {width:50%;}
.wrapper .content-page .container-fluid .system-schedule .word-search .word-search-wrap .input-group {margin-left:1%; width:49%;}	
	

/*관리버튼*/
.wrapper .content-page .container-fluid .system-schedule .management-bt {width:100%;}
.wrapper .content-page .container-fluid .system-schedule .management-bt button {width:100%; margin-left:0; text-align:center; margin-top:5px;}	


/*테이블 체크박스*/		
.wrapper .content-page .container-fluid .date-list {padding:0;}			
.wrapper .content-page .container-fluid .date-list .table-checkbox > .row {margin-top:50px; margin-bottom: 10px; border-bottom: 1px solid #888;  padding-bottom: 5px;}
.wrapper .content-page .container-fluid .date-list .table-checkbox .form-group {margin-bottom: 0; display: flex; white-space: nowrap; flex-wrap: wrap; align-items: center; justify-content: space-between;}
.wrapper .content-page .container-fluid .date-list .table-checkbox .form-group .custom-control-inline {width:30%;}
	
/*출력/복사/다운 버튼 */
.wrapper .content-page .container-fluid .date-list .table-top-bt {padding:10px 0 0;}
.wrapper .content-page .container-fluid .date-list .action_button{display:none;}

/*테이블 펼침 내역파트*/
.wrapper table.dataTable > tbody > tr.child ul.dtr-details {width:100%;}
.wrapper table.dataTable > tbody > tr.child ul.dtr-details > li {padding:0; height: 40px; font-size:.75rem; display: flex;}
.wrapper table.dataTable > tbody > tr.child span {display:inline-block!important;}
.wrapper table.dataTable > tbody > tr.child span:first-child {text-align:left; width:30%; line-height: 40px; padding-left:10px;}
.wrapper table.dataTable > tbody > tr.child span:last-child {text-align:right; width:70%; line-height: 40px; overflow:hidden; text-overflow:ellipsis; padding-right:10px;}
	
	
}






/*******************************시스템제어*******************************************/

.wrapper .content-page .container-fluid .system-control {padding:0 30px;}
.wrapper .content-page .container-fluid .system-control .search_button {text-align: center; margin-top:10px;}
.wrapper .content-page .container-fluid .pop-regi-bt {background-color:#ee321f; border:1px solid #ee321f; color:#fff!important;}
.wrapper .content-page .container-fluid .system-control table {border-top:1px solid #888; margin-top:20px; border-spacing: 0; width:100%;}
.wrapper .content-page .container-fluid .system-control table tr td{border-bottom: 1px solid #ddd; height: 50px;}
.wrapper .content-page .container-fluid .system-control table tr td:first-child {background-color: #f6f6f6; text-align: left; color:#222; font-size:.8rem; white-space: nowrap; padding:0 2rem 0 1rem; width:150px;}


/*기간검색*/
.wrapper .content-page .container-fluid .system-control .date-search .date-search-wrap {display:flex; padding-left:10px;}
.wrapper .content-page .container-fluid .system-control .date-search .date-search-wrap .date-select {width:300px;}


/*조건검색*/
.wrapper .content-page .container-fluid .system-control .condition-search .condition-search-wrap{display:flex; padding-left:10px;}
.wrapper .content-page .container-fluid .system-control .condition-search .condition-search-wrap .custom-select {width:180px; margin-right:.5rem;}


/*검색어*/
.wrapper .content-page .container-fluid .system-control .word-search .input-group {width:300px; padding-left:10px; }

/*관리 버튼*/
.wrapper .content-page .container-fluid .system-control .management-bt .input-button {padding-left:10px; }
.wrapper .content-page .container-fluid .system-control .management-bt .input-button .basic-bt {margin-right:5px; }

/*모달 테이블 커스텀 */
.wrapper .content-page .container-fluid .pop .modal-dialog {max-width:700px; min-width:700px; margin:0 auto;}
.wrapper .content-page .container-fluid .pop .modal-content .modal-header {padding:15px 1rem 10px; align-items: center;}
.wrapper .content-page .container-fluid .pop .modal-content .modal-header h4 {font-size:1.25rem; color:#222;}
.wrapper .content-page .container-fluid .pop .modal-content .modal-body table {width:100%; white-space: nowrap;}
.wrapper .content-page .container-fluid .pop .modal-content .modal-body table tr td{width:85%; padding:0 .7rem; border:1px solid #e0e0e0; height: 45px; color:#555; font-size:.8rem; letter-spacing: -0.5px; line-height: 45px;}
.wrapper .content-page .container-fluid .pop .modal-content .modal-body table tr th{width:15%; padding:0 .7rem; border:1px solid #e0e0e0; height: 45px; color:#222; font-size:.8rem; letter-spacing: -0.5px; line-height: 45px; background-color:#f8f8f8; font-weight: 600;  }
.wrapper .content-page .container-fluid .pop .modal-content .modal-body table tr th span {color:#ee321f; margin-right:5px; vertical-align: middle; line-height: 1rem;}
.wrapper .content-page .container-fluid .pop .modal-content .modal-body table tr td .date {display:flex; align-items: center;}
.wrapper .content-page .container-fluid .pop .modal-content .modal-body table tr td .date input {margin-right:5px;}
.wrapper .content-page .container-fluid .pop .modal-content .modal-body table tr td .date span {margin-right:5px;}
.wrapper .content-page .container-fluid .pop .modal-content .modal-body table tr td .date .custom-control-label::before {top:13px;}
.wrapper .content-page .container-fluid .pop .modal-content .modal-body table tr td .date .custom-control-label::after {top:13px;}
.wrapper .content-page .container-fluid .pop .modal-content .modal-body table tr td .date .custom-control-label {margin:2px 0 0 10px;}
.wrapper .content-page .container-fluid .pop .modal-content .modal-body table .popup-type {display:none;}
.wrapper .content-page .container-fluid .pop .modal-content .modal-body .radio-type-wrap {display:flex; }
.wrapper .content-page .container-fluid .pop .modal-content .modal-body .radio-type-wrap div {margin-right:2rem;}
.wrapper .content-page .container-fluid .pop .modal-content .modal-body textarea {display: block; width:100%;  margin:.5rem 0; padding:.45rem .5rem; font-size:.8rem; font-weight: 400; line-height: 1.5; color:#555; background-color: #fff; background-clip: padding-box; border:1px solid #d5d5d5; border-radius: .25rem; }
.wrapper .content-page .container-fluid .pop .modal-content .modal-body .form-control-file {line-height: calc(1.5rem);}
.wrapper .content-page .container-fluid .pop .modal-content .modal-footer {justify-content:center; padding:1rem 0 1.5rem; border-top:none;}
.wrapper .content-page .container-fluid .pop .modal-content .modal-footer button {margin:0 .3rem; padding:.45rem .9rem .35rem;}
.wrapper .content-page .container-fluid .pop .modal-content .modal-footer .btn-confirm {background-color: #ee321f; color:#fff; width:120px;}
.wrapper .content-page .container-fluid .pop .modal-content .modal-footer .btn-cancel {background-color: #ededed; color:#222; width:120px;}


/*라디오버튼 커스텀*/
.wrapper input[type="radio"] {display: none;}
.wrapper input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  width: 1.112em;
  height: 1.112em;
  padding:3px;
  background-clip: content-box;
  border: 1px solid #dee2e6;
  background-color: #fff;
  border-radius: 50%;
  margin-right:5px;
  margin-bottom:4px;
  line-height: 50px;
  vertical-align:middle;
}

.wrapper input[type="radio"]:checked + label:before {
  background-color: #fa5c7c; border: 1px solid #fa5c7c;
}



@media (max-width:992px){
.wrapper .content-page .container-fluid .system-control {padding:0;}
.wrapper .content-page .container-fluid .system-control table {border-top: none; margin-top:0;}
.wrapper .content-page .container-fluid .system-control table tr td{border-bottom: none; height:0;}
.wrapper .content-page .container-fluid .system-control table tr td:first-child {display:none;}

/*기간검색*/
.wrapper .content-page .container-fluid .system-control .date-search .date-search-wrap {display:flex; flex-wrap: wrap; padding-left:0;}
.wrapper .content-page .container-fluid .system-control .date-search .date-search-wrap .date-select {width:100%; margin-right:0; }


/*조건검색*/
.wrapper .content-page .container-fluid .system-control .condition-search .condition-search-wrap{padding-left:0px;}
.wrapper .content-page .container-fluid .system-control .condition-search .condition-search-wrap .custom-select {width:100%; margin-right:5px; margin-bottom:5px;}
.wrapper .content-page .container-fluid .system-control .condition-search .condition-search-wrap .custom-select:nth-child(1) {width:40%;}
.wrapper .content-page .container-fluid .system-control .condition-search .condition-search-wrap .custom-select:nth-child(2) {width:35%;}
.wrapper .content-page .container-fluid .system-control .condition-search .condition-search-wrap .custom-select:nth-child(3) {width:25%; margin-right:0;}


/*검색어*/
.wrapper .content-page .container-fluid .system-control .word-search .input-group {padding-left:0; width:100%;}




}

